<form class='create-room-form lobby-form'>
  <h3 class='title'>Create a New Room</h3>
  {{#if createGroupErrorMessage}}
    <div class='alert alert-error'>{{createGroupErrorMessage}}</div>
  {{/if}}
  <div class='control-group'>
    <label>Room Name</label>
    {{input type='text' value=newRoomName autocomplete='off'}}
  </div>
  <div class='form-actions'>
    <button type='submit' {{action 'createRoom'}} {{bind-attr disabled='isCreatingGroup'}}>Create Room</button>
  </div>
</form>

<form class='join-room-form lobby-form'>
  <h3 class='title'>Join an Existing Room</h3>
  {{#if joinRoomErrorMessage}}
    <div class='alert alert-error'>{{joinRoomErrorMessage}}</div>
  {{/if}}
  <div class='control-group'>
    <label>Join Code or Link</label>
    {{input type='text' value=joinCode autocomplete='off'}}
  </div>
  <div class='form-actions'>
    <button type='submit' {{action 'joinRoom'}} {{bind-attr disabled='isJoiningRoom'}}>Join Room</button>
  </div>
</form>

{{#if rooms}}
  {{#with view as lobbyView}}
    <table class='rooms-table'>
      <tr>
        <th colspan='3'>Rooms</th>
      </tr>
      {{#each room in rooms itemViewClass='App.RoomsTableRowView' viewName='roomsRows'}}
        <td>
          {{#if view.isRenaming}}
            <form>
              {{input type='text' value=view.newName classNames='new-name' placeholder='New Name'}}
              <button type='submit' {{action 'saveRoomName' room target='view'}}
                {{bind-attr disabled='room.isNameLocked'}}>Save</button>
              <a href='#' {{action 'cancelRenamingRoom' target='view'}} class='cancel'>Cancel</a>
            </form>
          {{else}}
            <div class='room-name'>
              {{#link-to 'rooms.room' room}}{{room.name}}{{/link-to}}
              <span class='topic'>{{room.topic}}</span>
            </div>
          {{/if}}
        </td>
        <td>
          {{! Room options. }}
          <a href='#' class='room-menu-toggle' {{action 'toggleRoomMenu' room target=lobbyView bubbles=false}} {{bind-attr data-room-id='room.id'}}>...</a>
        </td>
      {{/each}}
    </table>

    <ul class='menu lobby-room-menu' role='menu'>
      <li {{bind-attr class=':menu-item lobbyView.isAdminOfMenuRoom::disabled'}} {{action 'renameRoom' target=lobbyView}}>Rename Room</li>
      <li class='menu-item' {{action 'leaveRoom' target=lobbyView}}>Leave Room</li>
    </ul>
  {{/with}}
{{/if}}
