<form class='create-room-form lobby-form'>
  <h3 class='title'>Create a New Room</h3>
  {{#if createGroupErrorMessage}}
    <div class='alert alert-error'>{{createGroupErrorMessage}}</div>
  {{/if}}
  <div class='control-group'>
    <label>Room Name</label>
    {{input type='text' value=newRoomName autocomplete='off'}}
  </div>
  <div class='form-actions'>
    <button type='submit' {{action 'createRoom'}} {{bind-attr disabled='isCreatingGroup'}}>Create Room</button>
  </div>
</form>

<form class='join-room-form lobby-form'>
  <h3 class='title'>Join an Existing Room</h3>
  {{#if joinRoomErrorMessage}}
    <div class='alert alert-error'>{{joinRoomErrorMessage}}</div>
  {{/if}}
  <div class='control-group'>
    <label>Join Code or Link</label>
    {{input type='text' value=joinCode autocomplete='off'}}
  </div>
  <div class='form-actions'>
    <button type='submit' {{action 'joinRoom'}} {{bind-attr disabled='isJoiningRoom'}}>Join Room</button>
  </div>
</form>

{{#if rooms}}
  {{#with view as lobbyView}}
    <table class='rooms-table'>
      <tr>
        <th colspan='2'>Rooms</th>
      </tr>
      {{#each room in rooms itemViewClass='App.RoomsTableRowView'}}
        <td>
          <div class='room-name'>
            {{#link-to 'rooms.room' room}}{{room.name}}{{/link-to}}
            <span class='topic'>{{room.topic}}</span>
          </div>
        </td>
      {{/each}}
    </table>
  {{/with}}
{{/if}}
