<div class='room-members-sidebar'>
  <h3>Members</h3>
  {{#if usersLoaded}}
    <ul class='room-members'>
      {{#each user in members}}
        <li class='room-member'>
          {{user.name}}
        </li>
      {{/each}}
    </ul>
  {{else}}
    Loading...
  {{/if}}
</div>

<div class='room-container'>
  <div class='room-info'>
    <table class='room-info-table'>
      <tr>
        <td>
          {{#link-to 'rooms.room' model classNames='room-permalink'}}{{name}}{{/link-to}}
        </td>
        <td class='invite-link'>
          Invite Link: <a {{bind-attr href='joinUrl'}}>{{joinUrl}}</a>
        </td>
      </tr>
      {{#if topic}}
        <tr>
          <td colspan='2'>{{topic}}</td>
        </tr>
      {{/if}}
    </table>
  </div>

  <div class='messages'>
    {{#each message in messages}}
      <div class='message'>
        <table class='message-table'>
          <tr>
            <td class='sender-cell'>
              <div class='sender'>{{message.user.name}}</div>
            </td>
            <td class='body-cell'>
              <span class='status'>
                {{#if message.isSaving}}Sending...{{/if}}
                {{#if message.createdAt}}
                  <span class='timestamp'>{{message.createdAt}}</span>
                {{/if}}
              </span>
              {{#if message.imageUrl}}
                <img {{bind-attr src='message.imageUrl'}}>
              {{/if}}

              {{evalMessageText message.body}}

              <div class='clearfix'></div>
            </td>
          </tr>
        </table>
      </div>
    {{/each}}
  </div>

  <div class='send-message-area'>
    {{actionable-textarea action='sendMessage' classNames='send-message-text'
      valueBinding='newMessageText' maxlength='1000' rows='2' autocomplete='off'}}
    <button type='button' {{action 'sendMessage'}} class='send-button'>Send</button>
  </div>
</div>
