<div class='room-members-sidebar'>
  <div class='title'>People</div>
  {{#if usersLoaded}}
    <ul class='room-members'>
      {{#each user in arrangedMembers}}
        <li class='room-member'>
          <div>
            <span {{bind-attr class=':status-dot user.computedStatus'}}></span> {{user.name}}
          </div>
          {{#if user.statusText}}
            <div class='status-text'>{{user.statusText}}</div>
          {{/if}}
        </li>
      {{/each}}
    </ul>
  {{else}}
    Loading...
  {{/if}}
</div>

<div class='room-container'>
  <div class='room-info'>
    <table class='room-info-table'>
      <tr>
        <td>
          {{#link-to 'rooms.room' model classNames='room-permalink'}}{{name}}{{/link-to}}
        </td>
        <td class='invite-link'>
          Invite Link: <a {{bind-attr href='joinUrl'}}>{{joinUrl}}</a>
        </td>
      </tr>
      {{#if topic}}
        <tr>
          <td colspan='2'>{{topic}}</td>
        </tr>
      {{/if}}
    </table>
  </div>

  <div class='messages'>
    {{#if usersLoaded}}
      {{#each message in messages}}
        <div {{bind-attr class=':message message.isSentByCurrentUser:sent-by-you'}} {{bind-attr data-message-id='message.id'}}>
          <table class='message-table'>
            <tr>
              <td class='sender-cell'>
                <div class='sender'>{{message.user.name}}</div>
              </td>
              <td class='body-cell'>
                <span class='status'>
                  {{#if message.isSaving}}Sending...{{/if}}
                  {{#if message.isError}}
                    <span class='error'>{{message.errorMessage}}</span>
                  {{/if}}
                  {{#if message.createdAt}}
                    <span class='timestamp'>
                      {{compact-timestamp-element message.createdAt}}
                    </span>
                  {{/if}}
                </span>
                {{#if message.imageUrl}}
                  <a {{bind-attr href='message.imageUrl'}} target='_blank'>
                    <img {{bind-attr src='message.imageThumbUrl'}} onload='{{unbound view.messageImageOnLoad}}("{{unbound message.groupId}}");'>
                  </a>
                {{/if}}

                <div class='message-body'>{{message.body}}</div>

                <div class='clearfix'></div>
              </td>
            </tr>
          </table>
        </div>
      {{/each}}
    {{/if}}
  </div>

  <div class='connecting-status-bar'>
    Connecting...
  </div>

  <div class='send-message-area'>
    {{actionable-textarea enter-key-down='sendMessage' classNames='send-message-text'
      valueBinding='room.newMessageText' maxlength='1000' rows='2'}}
    {{#if doesBrowserSupportAjaxFileUpload}}
      <button type='button' class='send-message-file-button' {{action 'chooseFile' target='view'}}>
        {{#if newMessageFile}}
          Change
        {{else}}
          Attach
        {{/if}}
      </button>
      <input type='file' class='send-message-file'>
    {{/if}}
    <button type='button' {{action 'sendMessage'}} class='send-button'>Send</button>
  </div>

  {{autocomplete viewName='autocompleteView'
    matchText=view.suggestMatchText
    suggestions=view.suggestions
    isShowing=view.suggestionsShowing
    didSelectSuggestion='didSelectSuggestion'}}
</div>
