<div class='room-members-sidebar'>
  <div class='title'>People</div>
  {{#if usersLoaded}}
    <ul class='room-members'>
      {{#each user in arrangedMembers}}
        <li class='room-member' {{action 'goToOneToOne' user}}>
          <div>
            <span {{bind-attr class=':status-dot user.computedStatus'}}></span> {{user.name}}
          </div>
          {{#if user.isIdle}}
            <div class='idle-duration'>{{duration user.mostRecentIdleDuration}}</div>
          {{/if}}
          {{#if user.statusText}}
            <div class='status-text'>{{user.statusText}}</div>
          {{/if}}
        </li>
      {{/each}}
    </ul>
  {{else}}
    <div class='loading'>
      Loading...
    </div>
  {{/if}}
</div>
