<h4 class='subtitle'>Profile</h4>
<table class='settings-table'>
  {{#if doesBrowserSupportAjaxFileUpload}}
    <tr>
      <td class='label-cell image-label-cell profile-first-column'>Avatar</td>
      <td class='control-cell'>
        {{room-avatar room=App.currentUser showStatus=false alwaysShowAvatar=true}}
        <button type='button' {{action 'chooseAvatarFile'}}
          {{bind-attr disabled='isSendingAvatar'}}>
          {{#if isSendingAvatar}}
            Uploading...
          {{else}}
            Change
          {{/if}}
        </button>
        <input type='file' class='avatar-file-input' style='display: none'>
      </td>
    </tr>
    <tr>
      <td class='label-cell image-label-cell'>1-1 Wallpaper</td>
      <td class='control-cell'>
        {{#if App.currentUser.oneToOneWallpaperUrl}}
          <img {{bind-attr src='App.currentUser.oneToOneWallpaperUrl'}} class='wallpaper-thumbnail-image'>
        {{else}}
          (none set)
        {{/if}}
        <button type='button' {{action 'chooseOneToOneWallpaperFile'}}
          {{bind-attr disabled='isSendingOneToOneWallpaper'}}>
          {{#if isSendingOneToOneWallpaper}}
            Uploading...
          {{else}}
            Change
          {{/if}}
        </button>
        {{#if App.currentUser.oneToOneWallpaperUrl}}
          <button type='button' {{action 'removeOneToOneWallpaper'}}
            {{bind-attr disabled='isSendingOneToOneWallpaper'}}>Remove</button>
        {{/if}}
        <input type='file' class='one-to-one-wallpaper-file-input' style='display: none'>
      </td>
    </tr>
  {{/if}}
</table>

<hr>

<h4 class='subtitle'>Settings</h4>
<table class='settings-table'>
  <tr>
    <td>
      <label for='show-join-leave-messages-checkbox' class='checkbox'>
        <input type='checkbox' id='show-join-leave-messages-checkbox' class='checkbox'
          {{action 'changeGeneralClientPreference' 'showJoinLeaveMessages' on='change'}}>
        Show Join and Leave Messages
      </label>
    </td>
  </tr>
  <tr>
    <td>
      <label for='show-avatars-checkbox' class='checkbox'>
        <input type='checkbox' id='show-avatars-checkbox' class='checkbox'
          {{action 'changeGeneralClientPreference' 'showAvatars' on='change'}}>
        Show Avatars
      </label>
    </td>
  </tr>
  <tr>
    <td>
      <label for='show-wallpaper-checkbox' class='checkbox'>
        <input type='checkbox' id='show-wallpaper-checkbox' class='checkbox'
          {{action 'changeGeneralClientPreference' 'showWallpaper' on='change'}}>
        Show Wallpaper
      </label>
    </td>
  </tr>
</table>
