{{#if isLoadingEmailAddresses}}
  <div class='empty-content-page'>
    Loading...
  </div>
{{else}}
  <table class='settings-table'>
    {{#each emailAddress in emailAddresses itemViewClass='App.SettingsEmailAddressView'}}
      <td class='label-cell editable-label-cell account-first-column'>
        {{#if view.isFirstRow}}Email{{/if}}
      </td>
      <td class='control-cell'>
        {{#if view.isEditingEmail}}
          {{! Capture enter key. }}
          <form {{action 'saveEmail' emailAddress on='submit'}}>
            {{#if emailErrorMessage}}
              <div class='alert alert-error'>
                {{emailErrorMessage}}
              </div>
            {{/if}}
            {{input type='email' classNames='email-input' value=newEmail on-enter='saveEmail'
              placeholder='New Email'}}
            <button type='submit' class='save-email-button'
              {{bind-attr disabled='isSendingEmail'}}>
              {{#if isSendingEmail}}Saving...{{else}}Save{{/if}}
            </button>
            {{#unless isSendingEmail}}
              <a href='#' {{action 'cancelEditingEmail' target=view}}>Cancel</a>
            {{/unless}}
          </form>
        {{else}}
          <div class='editable-display'>
            {{emailAddress.email}}
            <a href='#' {{action 'editEmail' target=view}}>Edit</a>
            <a href='#' {{action 'removeEmail' target=view}}>Remove</a>
          </div>
        {{/if}}
      </td>
    {{/each}}
    <tr>
      <td class='label-cell'></td>
      <td class='control-cell'>
        <button type='button' {{action 'addEmailAddress'}}>
          Add Email Address
        </button>
      </td>
    </tr>
    {{#if isLinkedToFacebook}}
      <tr>
        <td colspan='2'>
          Your account is linked to Facebook.
        </td>
      </tr>
    {{else}}
      <tr>
        <td class='label-cell editable-label-cell'>Password</td>
        <td class='control-cell'>
          {{#if isEditingPassword}}
            <form> {{! Capture enter key. }}
              {{#if passwordErrorMessage}}
                <div class='alert alert-error'>
                  {{passwordErrorMessage}}
                </div>
              {{/if}}
              <input type='password' class='current-password-input' placeholder='Current Password'>
              <br>
              {{input type='password' classNames='new-password-input' value=newPassword on-enter='savePassword'
                placeholder='New Password'}}
              <br>
              {{input type='password' classNames='confirm-password-input' value=confirmPassword on-enter='savePassword'
                placeholder='Confirm Password'}}
              <button type='submit' class='save-password-button' {{action 'savePassword'}}
                {{bind-attr disabled='isSendingPassword'}}>
                {{#if isSendingPassword}}Saving...{{else}}Save{{/if}}
              </button>
              {{#unless isSendingPassword}}
                <a href='#' {{action 'cancelEditingPassword'}}>Cancel</a>
              {{/unless}}
            </form>
          {{else}}
            <div class='editable-display'>
              ******
              <a href='#' {{action 'editPassword'}}>Edit</a>
            </div>
          {{/if}}
        </td>
      </tr>
    {{/if}}
  </table>
{{/if}}
