<form class='modal form modal-form add-contacts-form' {{action 'add' on='submit'}}>
  <span class='close' {{action 'hideAddContactsDialog'}} title='Close'>&times;</span>
  <h3 class='title'>Add New Contacts</h3>
  {{#if errorMessage}}
    <div class='alert alert-error'>{{errorMessage}}</div>
  {{/if}}
  <div class='control-group'>
    <div class='text-width-fix'>
      {{textarea value=newContactsText classNames='new-contacts-text'
      placeholder='Email Addresses' disabled=isAdding}}
    </div>
    <div class='help-text'>
      Use commas to separate multiple addresses.
    </div>
  </div>
  <div class='form-actions'>
    <button type='submit' class='app-btn btn-green'
     {{bind-attr disabled='isAdding'}}>Add Contacts</button>
  </div>
</form>
