{{#if isMobilePlatform}}
  <div class='app-install-banner temporarily-hidden'>
    <div class='close' {{action 'dismissAppInstallBanner'}}>&times;</div>
    <img src='{{webServerUrl 'imageLogo'}}' alt='{{unbound App.title}}' style='width: 49px; height: 32px; padding-top: 2px' class='app-install-logo'>
    <div class='pull-right' style='margin: 10px 0'>
      <span class='for-platform'></span>
      {{#if isAppleIos}}
        <a class='app-btn btn-flat btn-secondary install-app-link' href='{{unbound AppConfig.iosAppInstallUrl}}' target='_blank'>
          Install App
        </a>
      {{else}}
        {{#if isAndroid}}
          <a class='app-btn btn-flat btn-secondary install-app-link' href='{{unbound AppConfig.androidAppInstallUrl}}' target='_blank'>
            Install App
          </a>
        {{/if}}
      {{/if}}
    </div>
    <div class='clearfix'></div>
    {{#if showLaunchAppButton}}
      <div style='margin-top: 3px; text-align: center'>
        <span style='font-size: 12px; color: rgba(255,255,255, 0.7)'>
          Or <a href='#' {{action 'launchMobileApp'}} class='launch-app-link'>launch the app</a>
          if you already have it.
        </span>
      </div>
    {{/if}}
  </div>
{{/if}}
