<div {{bind-attr class=':footer fixedToBottom:fixed-to-bottom'}}>
  {{#if areAppLinksVisible}}
    <div class='app-links'>
      {{#unless isAndroid}}
        <a href='{{unbound AppConfig.iosAppInstallUrl}}' target='_blank' class='app-link first-app-link'>
          <img src='{{unbound webServerUrl 'imageIosAppStore'}}' alt='Available on the App Store' style='width: 165px; height: auto'>
        </a>
      {{/unless}}
      {{#unless isAppleIos}}
        <a href='{{unbound AppConfig.androidAppInstallUrl}}' target='_blank' class='app-link'>
          <img src='{{unbound webServerUrl 'imageGooglePlay'}}' alt='Get it on Google Play' style='width: 165px; height: auto'>
        </a>
      {{/unless}}
    </div>
  {{/if}}
  <div class='footer-links'>
    <a class='footer-link' href='/legal/tos'>Terms of Service</a>
    <a class='footer-link' href='/legal/privacy'>Privacy Policy</a>
    <a class='footer-link' href='/legal/dmca'>Copyright Policy</a>
  </div>
</div>
