{{! Use a form tag to capture enter key. }}
<form class='form signup-form home-signup-form' {{action 'attemptSignup' on='submit'}}>
  {{#if errorMessage}}
    <div class='alert alert-error'>{{errorMessage}}</div>
  {{/if}}
  <div class='control-group'>
    {{input type='email' value=email placeholder='Email'}}
  </div>
  <div class='control-group'>
    {{input type='password' value=password placeholder='Password'}}
  </div>
  <div class='control-group'>
    {{input type='text' value=name placeholder='Name'}}
  </div>
  <div class='form-actions'>
    <div class='related-link'>
      <span {{action 'goBack'}} class='back-link'>&lt; Back</span>
    </div>
    <button type='submit' class='app-btn btn-flat btn-green' {{bind-attr disabled='isSignupDisabled'}}>Create Account</button>
  </div>
</form>
