{{! Use a form tag to capture enter key. }}
<form class='form signup-form home-join-group-signup-form' {{action 'attemptSignup' on='submit'}}>
  {{#if errorMessage}}
    <div class='alert alert-error'>
      <span class='close' {{action 'dismissErrorMessage'}}>&times;</span>
      {{errorMessage}}
    </div>
  {{/if}}
  <div class='control-group'>
    <label class='control-label'>Email Address</label>
    <br>
    {{input type='email' value=email class='email-input'}}
  </div>
  <div class='form-actions'>
    <button type='submit' class='app-btn btn-block btn-flat btn-green' {{bind-attr disabled='isSignupDisabled'}}>Join Group</button>

    {{#if showFacebookChoice}}
      <div class='or-divider'>OR</div>

      <button type='button' class='app-btn btn-block btn-flat btn-fb signup-with-facebook-button'
        {{bind-attr disabled='isSignupDisabled'}}
        {{action 'attemptSignUpWithFacebook'}}>
        <span class='facebook-f-icon'></span>
        <div class='btn-fb-text-container'>
          Connect with Facebook
        </div>
      </button>
    {{/if}}

    <div class='login-hint'>
      Already have an account?  <a href='/login' {{action 'logInWithRoom'}}>Log In</a>
    </div>
  </div>
</form>
