{{! Use a form tag to capture enter key. }}
<form class='login-form form' {{action 'attemptLogin' on='submit'}}>
  {{#if showClose}}
    <a href='#' class='close' {{action 'close'}}>&times;</a>
  {{/if}}
  <div class='title'>Log In</div>
  {{#if errorMessage}}
    <div class='alert alert-error'>{{errorMessage}}</div>
  {{/if}}
  <div class='control-group'>
    {{input type='text' value=email placeholder='Username'}}
  </div>
  <div class='control-group'>
    {{input type='password' value=password placeholder='Password'}}
  </div>
  <div class='form-actions'>
    <div class='related-link'>
      Don't have an account?<br>
      {{#link-to 'signup'}}Sign Up{{/link-to}}
    </div>
    <div class='related-link'>
      {{#link-to 'forgot-password'}}Forgot Password{{/link-to}}
    </div>
    <button type='submit' class='app-btn btn-flat btn-secondary' {{bind-attr disabled='isLoginDisabled'}}>Log In</button>
    <div class='clearfix'></div>
  </div>

  {{#if useFacebookAuth}}
    <hr class='facebook-divider'>

    <div class='facebook-group'>
      <div class='facebook-or'>OR</div>
      <button type='button' class='app-btn btn-block btn-flat btn-fb' {{bind-attr disabled='isLoginDisabled'}}
        {{action 'attemptLogInWithFacebook'}}>
        <span class='facebook-f-icon'></span>
        <div class='btn-fb-text-container'>
          Log In With Facebook
        </div>
      </button>
    </div>
  {{/if}}
</form>
