<div class='title'>
  <img src='{{unbound webServerUrl 'imageLogo'}}' alt='skymob'>
</div>

{{#if joinCode}}
  <p class='to-enter'>
    {{#if hasMessagesWaiting}}
      To view your message,
    {{else}}
      To enter,
    {{/if}}
    launch skymob<br>
    and enter code:
  </p>

  <div class='join-code'>
    {{joinCode}}
  </div>
{{else}}
  <p class='to-enter no-join-code'>
    Free Group Chat that<br>
    Works Anywhere
  </p>
{{/if}}

{{#if isAppleIos}}
  <a class='app-btn btn-block btn-green app-store-link' href='https://itunes.apple.com/us/app/skymob-best-app-for-group/id778593574?ls=1&mt=8' target='_blank'>
    Install skymob
  </a>
{{else}}
  {{#if isAndroid}}
    <a class='app-btn btn-block btn-green app-store-link' href='https://play.google.com/store/apps/details?id=co.skymob' target='_blank'>
      Install skymob
    </a>
  {{/if}}
{{/if}}

<p class='already-text'>
  Already have the app?
</p>

<button class='app-btn btn-block' {{action 'launchMobileApp'}}>
  Launch skymob
</button>

<a href='#' class='subtle-link' {{action 'dismissMobileInstallDialog'}}>
  Use Web Version
</a>

<div class='hidden-continue'>
</div>
