<div class='title'>
  <img src='{{web-server-url 'imageLogo'}}' alt='{{unbound App.title}}' class='logo'>
</div>

{{#if isAppleIos}}
  <div>
    <a href='{{unbound AppConfig.iosAppInstallUrl}}' target='_blank' class='app-store-link'>
      <img src='{{web-server-url 'imageIosAppStore'}}' alt='Download on the App Store' style='width: 200px; height: auto'>
    </a>
  </div>
{{else}}
  {{#if isAndroid}}
    <p class='to-enter no-join-code'>
      Our Android app is coming soon.
    </p>
  {{/if}}
{{/if}}

<div class='hidden-continue'>
</div>
