<div class='title'>
  <img src='{{unbound webServerUrl 'imageLogo'}}' alt='{{unbound App.title}}'>
</div>

{{#if joinCode}}
  <p class='to-enter'>
    {{#if hasMessagesWaiting}}
      To view your message,
    {{else}}
      To enter,
    {{/if}}
    launch {{unbound App.title}}<br>
    and enter code:
  </p>

  <div class='join-code'>
    {{joinCode}}
  </div>
{{else}}
  <p class='to-enter no-join-code'>
    Free Group Chat that<br>
    Works Anywhere
  </p>
{{/if}}

{{#if isAppleIos}}
  <a class='app-btn btn-block btn-green app-store-link' href='{{unbound AppConfig.iosAppInstallUrl}}' target='_blank'>
    Install {{unbound App.title}}
  </a>
{{else}}
  {{#if isAndroid}}
    <a class='app-btn btn-block btn-green app-store-link' href='{{unbound AppConfig.androidAppInstallUrl}}' target='_blank'>
      Install {{unbound App.title}}
    </a>
  {{/if}}
{{/if}}

<p class='already-text'>
  Already have the app?
</p>

<button class='app-btn btn-block' {{action 'launchMobileApp'}}>
  Launch {{unbound App.title}}
</button>

<a href='#' class='subtle-link' {{action 'dismissMobileInstallDialog'}}>
  Use Web Version
</a>

<div class='hidden-continue'>
</div>
