<div class='title'>
  <img src='{{unbound webServerUrl 'imageLogo'}}' alt='skymob'>
</div>

{{#if isAppleIos}}
  {{#if joinCode}}
    <p class='to-enter'>
      To enter, launch skymob<br>
      and enter code:
    </p>

    <div class='join-code'>
      {{joinCode}}
    </div>
  {{else}}
    <p class='to-enter no-join-code'>
      Free Group Chat that<br>
      Works Anywhere
    </p>
  {{/if}}

  <a class='app-btn btn-block btn-green app-store-link' href='https://itunes.apple.com/us/app/skymob-best-app-for-group/id778593574?ls=1&mt=8' target='_blank'>
    Install skymob
  </a>

  <p class='already-text'>
    Already have the app?
  </p>

  <button class='app-btn btn-block' {{action 'launchMobileApp'}}>
    Launch skymob
  </button>

  <a href='#' class='subtle-link' {{action 'dismissMobileInstallDialog'}}>
    Use Web Version
  </a>
{{else}}
  {{#if isAndroid}}
    <p class='to-enter no-join-code'>
      Free Group Chat that<br>
      Works Anywhere
    </p>

    <p class='to-enter no-join-code'>
      Our Android app will be available in early 2014.
    </p>

    <button class='app-btn btn-block btn-green' {{action 'dismissMobileInstallDialog'}}>
      Use Web Version
    </button>
  {{/if}}
{{/if}}

<div class='hidden-continue'>
</div>
