<form {{action 'addSelection' on='submit'}}>
  <div class='add-text-visual'>
    {{#each user in userSelections}}
      <span class='add-members-list-item'>
        <span class='name'>{{user.name}}</span>
        <span class='remove' {{action 'removeSelection' user}} title='Remove'>&times;</span>
      </span>
    {{/each}}
    <input type='text' class='create-room-add-text' autocomplete='off'
      autocapitalize='off' {{bind-attr placeholder='placeholder'}}>
  </div>
</form>
{{user-autocomplete viewName='userAutocompleteView'
  classNames='add-user-autocomplete'
  inputSelector='.create-room-add-text'
  positionRelativeToSelector='.add-text-visual'
  users=users
  showAll=false
  useAtSignPrefix=false
  maxSuggestions=maxSuggestions
  showCurrentUser=showCurrentUser
  text=text
  isShowing=areSuggestionsShowing
  didSelectSuggestion='didSelectSuggestion'}}
