{{! Use a form tag to capture enter key. }}
<form class='form signup-form room-join-group-signup-form' {{action 'attemptSignup' on='submit'}}>
  {{#if room}}
    <div class='room-header'>
      <div class='room-name'>You are joining <strong>{{room.name}}</strong>.</div>
      {{#if hostedByName}}
        <div>Hosted by <strong>{{hostedByName}}</strong>.</div>
      {{/if}}
    </div>

    <div class='title'>
      This group chat has already started.
    </div>
  {{/if}}

  <div class='subtitle'>
    {{#if isAuthStepEmail}}
      Enter your email address to join:
    {{else}}
      {{#if isAuthStepPassword}}
        Enter your password:
      {{/if}}
    {{/if}}
  </div>
  {{#if errorMessage}}
    <div class='alert alert-error'>
      <span class='close' {{action 'dismissErrorMessage'}}>&times;</span>
      {{errorMessage}}
    </div>
  {{/if}}
  {{#if isAuthStepEmail}}
    <div class='control-group'>
      {{input type='email' value=email class='email-input' placeholder='Email Address'}}
    </div>
  {{else}}
    {{#if isAuthStepPassword}}
      <div class='control-group'>
        {{input type='password' value=password class='password-input' placeholder='Password'}}
      </div>
    {{/if}}
  {{/if}}
  <div class='form-actions'>
    <button type='submit' class='app-btn btn-block btn-flat btn-secondary' {{bind-attr disabled='isSignupDisabled'}}>Join Group</button>
    {{#if isAuthStepPassword}}
      <div class='related'>{{link-to 'Forgot Password?' 'forgot-password'}}</div>
    {{/if}}

    <div class='or-divider'>OR</div>

    <button type='button' class='app-btn btn-block btn-flat btn-fb signup-with-facebook-button'
      {{bind-attr disabled='isSignupDisabled'}}
      {{action 'attemptSignUpWithFacebook'}}>
      <span class='facebook-f-icon'></span>
      <div class='btn-fb-text-container'>
        Connect with Facebook
      </div>
    </button>

    <div class='login-hint'>
      Already have an account?  <a href='/login' {{action 'logInWithRoom'}}>Log In</a>
    </div>

    <div class='terms'>
      By joining, you agree to the<br>
      <a href='/legal/tos' target='_blank'>Terms of Service</a>
      &amp;
      <a href='/legal/privacy' target='_blank'>Privacy Policy</a>.
    </div>

    <div class='learn-more'>
      <a href='/?src=learn-more' target='_blank'>Learn More</a>
    </div>
  </div>

</form>
