{{#with this as roomsContainer}}
  <div class='room-container'>
    {{#if activeRoom}}
      <div class='room-info'>
        <table class='room-info-table'>
          <tr>
            <td class='room-name-info'>
              {{#link-to 'rooms.room' activeRoom classNames='room-permalink'}}{{activeRoom.name}}{{/link-to}}
              {{#if roomsContainer.showSetTopicLink}}
                <a href='#' {{action 'editTopic' target=roomsContainer}} class='edit-topic-link'><nobr>Set Topic</nobr></a>
              {{/if}}
            </td>
            <td class='invite-link'>
              {{#if activeRoom.joinUrl}}
                Invite Link: <a {{bind-attr href='activeRoom.joinUrl'}}>{{activeRoom.joinUrl}}</a>
              {{/if}}
            </td>
          </tr>
          {{#if roomsContainer.showTopicRow}}
            <tr>
              <td colspan='2' class='topic-cell'>
                {{#if roomsContainer.isEditingTopic}}
                  <form>
                    {{input type='text' value=roomsContainer.newRoomTopic
                      class='edit-topic'
                      placeholder='New Topic' maxlength='160'}}
                    <button type='submit' {{action 'saveTopic' target=roomsContainer}} class='save-topic-button'>Save</button>
                    <a href='#' {{action 'cancelEditingTopic' target=roomsContainer}} class='edit-topic-link'>Cancel</a>
                  </form>
                {{else}}
                  {{activeRoom.topic}}
                  <a href='#' {{action 'editTopic' target=roomsContainer}} class='edit-topic-link'>Edit</a>
                {{/if}}
              </td>
            </tr>
          {{/if}}
        </table>
      </div>
    {{/if}}

    {{#each rooms}}
      {{#if associationsLoaded}}
        {{#view App.RoomMessagesView roomBinding='this' roomsBinding='roomsContainer.rooms'}}
          {{#with view as messagesView}}
            <div {{bind-attr class=':messages messagesView.isCurrentlyViewingRoom:active:inactive messagesView.isRoomBeforeCursor:before-cursor:after-cursor'}}>
              <div {{bind-attr class=':loading-more-messages isLoadingEarlierMessages::hidden'}}>
                Loading...
              </div>

              {{#each message in messages}}
                <div {{bind-attr class=':message message.isSentByCurrentUser:sent-by-you message.isSystemMessage:system-message'}} {{bind-attr data-message-id='message.id'}}>
                  <div class='message-table'>
                    <div class='sender-cell'>
                      <div class='sender'>{{message.user.name}}</div>
                    </div>
                    <div class='body-cell'>
                      <span class='status'>
                        {{#if message.isSaving}}Sending...{{/if}}
                        {{#if message.isError}}
                          <span class='error'>{{message.errorMessage}}</span>
                        {{/if}}
                        {{compact-timestamp-element message.createdAt classNames='timestamp'}}
                      </span>
                      {{#if message.imageUrl}}
                        <a {{bind-attr href='message.imageUrl'}} target='_blank'>
                          <img {{bind-attr src='message.imageThumbUrl'}} onload='{{unbound messagesView.messageImageOnLoad}}("{{unbound message.groupId}}", this, false);'>
                        </a>
                      {{/if}}

                      <div class='message-body'>{{message.body}}</div>
                    </div>
                  </div>
                </div>
              {{/each}}
            </div>
          {{/with}}
        {{/view}}
      {{/if}}
    {{/each}}

    <div class='connecting-status-bar'>
      Connecting...
    </div>

    <div class='send-message-area'>
      {{actionable-textarea enter-key-down='sendMessage' classNames='send-message-text'
        valueBinding='activeRoom.newMessageText' maxlength='1000' rows='2'
        disabledBinding='roomsContainer.isSendDisabled'
        target=roomsContainer}}
      {{#if doesBrowserSupportAjaxFileUpload}}
        <button type='button' class='send-message-file-button' {{action 'chooseFile' target=roomsContainer}}>
          {{#if activeRoom.newMessageFile}}
            Change
          {{else}}
            Attach
          {{/if}}
        </button>
        <input type='file' class='send-message-file'>
      {{/if}}
      <button type='button' {{action 'sendMessage' target=roomsContainer}}
        {{bind-attr class=':send-button activeRoom.isEncrypted:encrypted-send-button'}}
        {{bind-attr disabled='roomsContainer.isSendDisabled'}}
        >Send</button>
    </div>

    {{message-autocomplete viewName='autocompleteView'
      matchText=roomsContainer.suggestMatchText
      suggestions=roomsContainer.suggestions
      isShowing=roomsContainer.suggestionsShowing
      didSelectSuggestion='didSelectSuggestion'
      target=roomsContainer}}
  </div>
{{/with}}
