{{#with this as roomsContainer}}
  <div {{bind-attr class=':room-container activeRoom:has-active-room'}}>
    {{#if activeRoom}}
      <div class='room-info'>
        {{#if roomsContainer.showRoomsSidebarToggle}}
          <div class='toggle-rooms-sidebar'>
            <span class='room-settings-icon'></span>
          </div>
        {{else}}
          {{#link-to 'rooms.room' activeRoom classNames='room-avatar-permalink'}}
            <img {{bind-attr src='activeRoom.avatarUrl'}} class='medium-avatar-image'>
          {{/link-to}}
        {{/if}}
        <div class='room-name-info-container'>
          {{#if roomsContainer.isEditingRoomName}}
            <form class='edit-room-name-form'>
              {{input type='text' value=roomsContainer.newRoomName
                class='edit-room-name'
                placeholder='New Name' maxlength='32'}}
              <button type='submit' {{action 'saveRoomName' target=roomsContainer}} class='save-room-name-button'>Save</button>
              <a href='#' {{action 'cancelEditingRoomName' target=roomsContainer}} class='edit-room-name-link'>Cancel</a>
            </form>
          {{else}}
            {{#link-to 'rooms.room' activeRoom classNames='room-permalink'}}{{activeRoom.name}}{{/link-to}}
            {{#if roomsContainer.canEditRoomName}}
              <a href='#' {{action 'editRoomName' target=roomsContainer}} class='edit-room-name-link'>Edit</a>
            {{/if}}
          {{/if}}
        </div>
        <div class='room-info-cell topic-cell'>
          <div class='topic-container'>
            {{#if roomsContainer.isEditingTopic}}
              <form class='edit-topic-form'>
                {{input type='text' value=roomsContainer.newRoomTopic
                  class='edit-topic'
                  placeholder='New Topic' maxlength='160'}}
                <button type='submit' {{action 'saveTopic' target=roomsContainer}} class='save-topic-button'>Save</button>
                <a href='#' {{action 'cancelEditingTopic' target=roomsContainer}} class='edit-topic-link'>Cancel</a>
              </form>
            {{else}}
              <div class='topic-text'>
                {{#if roomsContainer.showSetTopicLink}}
                  <a href='#' {{action 'editTopic' target=roomsContainer}} class='edit-topic-link'><nobr>Set Topic</nobr></a>
                {{else}}
                  {{emoticonize activeRoom.topic}}
                  {{#if activeRoom.canSetTopic}}
                    <a href='#' {{action 'editTopic' target=roomsContainer}} class='edit-topic-link'>Edit</a>
                  {{/if}}
                {{/if}}
              </div>
            {{/if}}
          </div>
        </div>
        <div class='room-actions-toggle' {{action 'toggleRoomMenu' bubbles=false}}>
          <span class='room-settings-icon'></span>
        </div>
        <div class='clearfix'></div>
      </div>
    {{/if}}

    <div class='room-container-messages'>
      {{#if activeRoom}}
        {{#unless activeRoom.isCurrentUserMember}}
          <div class='room-alert-dialog'>
            <div class='room-alert-content'>
              <div class='room-alert-message'>
                <div class='members-preview-subtitle'>Who's already here...</div>
              </div>
              <div class='members-preview'>
                {{#each user in roomsContainer.roomAlphabeticMembers}}
                  <div class='member-preview'>
                    {{room-avatar room=user showStatus=false alwaysShowAvatar=true classNames='medium-avatar-image'}}
                    <div class='username'>{{user.name}}</div>
                  </div>
                {{else}}
                  <div class='no-one-here'>
                    (no one yet)
                  </div>
                {{/each}}
                {{#if roomsContainer.roomNumberMoreMembers}}
                  <div class='member-count-more'>
                    <div class='member-count-ellipsis'></div>
                    +{{roomsContainer.roomNumberMoreMembers}} more
                  </div>
                {{/if}}
              </div>
              {{#if activeRoom.canJoinWithoutCode}}
                <button type='button' {{action 'joinGroup' target=roomsContainer}}
                  class='app-btn btn-green join-button'>Enter Room</button>
              {{else}}
                <form class='join-form' {{action 'joinGroup' target=roomsContainer on='submit'}}>
                  <div class='title'>Input room key to enter.</div>
                  {{input type='text' value=activeRoom.enteredJoinCode placeholder='Room Key'}}
                  <button type='submit' {{bind-attr class=':app-btn :join-button roomsContainer.activeRoom.isJoining:disabled'}}>Enter Room</button>
                </form>
              {{/if}}
            </div>
          </div>
        {{/unless}}
      {{/if}}

      {{#each rooms}}
        {{#if associationsLoaded}}
          {{#view App.RoomMessagesView roomBinding='this' roomsBinding='roomsContainer.rooms'}}
            {{#with view as messagesView}}
              <div {{bind-attr class=':messages messagesView.isCurrentlyViewingRoom:active:inactive messagesView.isRoomBeforeCursor:before-cursor:after-cursor messagesView.showWallpaper::wallpaper-off'}}
                {{bind-attr data-conversation-id='id'}}>
                <div {{bind-attr class=':loading-more-messages isLoadingEarlierMessages::hidden'}}>
                  Loading...
                </div>

                {{#each message in messages}}
                  <div {{bind-attr class=':message message.sentByClassName message.isSentByCurrentUser:sent-by-you message.isSystemMessage:system-message'}}
                    {{bind-attr data-message-id='message.id'}}>
                    <div class='message-table'>
                      <div class='sender-cell'>
                        <span class='sender'>
                          {{message.user.name}}
                        </span>
                      </div>
                      <div class='body-cell'>
                        <span class='status'>
                          {{#if message.isSaving}}Sending...{{/if}}
                          {{#if message.isError}}
                            <span class='error'>{{message.errorMessage}}</span>
                          {{/if}}
                          {{compact-timestamp-element message.createdAt classNames='timestamp'}}
                        </span>

                        {{! Passing attachmentUrl so that this re-renders when it changes. }}
                        {{messageAttachmentDisplay message
                          attachmentUrlBinding=message.attachmentUrl}}

                        <div class='message-body'>{{message.body}}</div>
                      </div>
                      <div class='clearfix'></div>
                    </div>
                  </div>
                {{/each}}
              </div>

              {{! Preview thumbnail of the file attached. }}
              <div {{bind-attr class=':attachment-thumbnail messagesView.hasAttachment:has-attachment'}}>
                <span class='remove' title='Remove Attachment' {{action 'removeAttachment' target=roomsContainer}}>
                  &times;
                </span>
                {{#if messagesView.attachmentPreviewUrl}}
                  <img class='attachment-thumbnail-image' {{bind-attr src='messagesView.attachmentPreviewUrl'}}>
                {{/if}}
                <div class='filename'>{{messagesView.attachmentName}}</div>
              </div>
            {{/with}}
          {{/view}}
        {{/if}}
      {{/each}}

      <div {{bind-attr class=':connecting-status-bar activeRoom::hidden'}}>
        Connecting...
      </div>

      <div {{bind-attr class=':send-message-area activeRoom::hidden'}}>
        {{actionable-textarea enter-key-down='sendMessage' classNames='send-message-text'
          valueBinding='activeRoom.newMessageText' maxlength='1000' rows='2'
          disabledBinding='roomsContainer.isSendDisabled'
          target=roomsContainer}}
        {{#if doesBrowserSupportAjaxFileUpload}}
          <span {{bind-attr class=':message-attach-icon roomsContainer.isSendDisabled:disabled'}}
            {{action 'chooseFile' target=roomsContainer}}
            title='Attach File'></span>
          <input type='file' class='send-message-file'>
        {{/if}}
        <button type='button' {{action 'sendMessage' target=roomsContainer}}
          {{bind-attr class=':app-btn :send-button activeRoom.isEncrypted:encrypted-send-button'}}
          {{bind-attr disabled='roomsContainer.isSendDisabled'}}
          >Send</button>
      </div>

      {{message-autocomplete viewName='autocompleteView'
        matchText=roomsContainer.suggestMatchText
        suggestions=roomsContainer.suggestions
        isShowing=roomsContainer.suggestionsShowing
        didSelectSuggestion='didSelectSuggestion'
        target=roomsContainer}}
    </div>

    <div {{bind-attr class=':room-members-sidebar activeRoom::hidden'}}>
      {{! Always render the file input so that event listeners can bind to it. }}
      <input type='file' class='room-avatar-file' style='display: none;'>
      <input type='file' class='room-wallpaper-file' style='display: none;'>
      {{#if activeRoom}}
        <div {{bind-attr class=':one-to-one-specific isActiveRoomOneToOne::hidden'}}>
          <div class='room-avatar big-one-to-one-avatar no-status always-show-avatar' {{bind-attr style='roomsContainer.activeRoomAvatarStyle'}}></div>
          <div class='username'>{{activeRoom.name}}</div>
          <div class='status-text'>{{activeRoom.statusText}}</div>
        </div>

        <div {{bind-attr class=':room-specific isActiveRoomOneToOne:hidden'}}>
          <div class='invite-button-container'>
            <button class='app-btn btn-green btn-block btn-flat' {{action 'toggleInviteDialog' bubbles=false}}>
              Invite
            </button>
          </div>
        </div>
      {{/if}}

      <div {{bind-attr class=':room-specific isActiveRoomOneToOne:hidden'}}>
        {{#if activeRoomUsersLoaded}}
          {{users-list sortedUsers=activeRoom.arrangedMembers users=activeRoomArrangedMembers allUsers=allUsers goToRoom='goToRoom'}}
        {{else}}
          <div class='loading'>
            Loading...
          </div>
        {{/if}}
      </div>
    </div>
  </div>
{{/with}}

<ul class='menu room-menu' role='menu'>
  {{#if isActiveRoomOneToOne}}
    <li class='menu-item' {{action 'hideRoom'}}>Hide Conversation</li>
  {{else}}
    <li {{bind-attr class=':menu-item canUpdateRoomAvatar::disabled'}}
      {{action 'chooseRoomAvatar'}}>Change Room Avatar...</li>
    {{#if hasRoomAvatar}}
      <li {{bind-attr class=':menu-item canUpdateRoomAvatar::disabled'}}
        {{action 'removeRoomAvatar'}}>Remove Room Avatar</li>
    {{/if}}
    <li {{bind-attr class=':menu-item canUpdateRoomWallpaper::disabled'}}
      {{action 'chooseRoomWallpaper'}}>Change Wallpaper...</li>
    {{#if hasRoomWallpaper}}
      <li {{bind-attr class=':menu-item canUpdateRoomWallpaper::disabled'}}
        {{action 'removeRoomWallpaper'}}>Remove Wallpaper</li>
    {{/if}}
    <li class='separator'></li>
    <li class='menu-item' {{action 'leaveRoom'}}>Leave Room...</li>
  {{/if}}
</ul>

<div class='dialog invite-dialog' {{action 'ignore' bubbles=false}}>
  <div class='close' {{action 'dismissInviteDialog'}} title='Close'>
    &times;
  </div>
  <div class='instructions'>
    You can invite people to join this room by sending this link:
  </div>
  <div class='join-link-container'>
    <input type='text' {{bind-attr value='activeRoom.joinUrl'}} class='join-url-text' readonly>
  </div>
  <button class='app-btn btn-block btn-green btn-flat copy-join-link-button' {{bind-attr data-clipboard-text='activeRoom.joinUrl'}}>
    <span class='copy-icon'></span>
    Copy Link to Clipboard
  </button>
  <div class='copy-to-clipboard-indicator'>
    Copied to Clipboard
  </div>
</div>
