<div class='header'>
  <div class='close' {{action 'hideDialog'}}>&times;</div>
  <h3>Settings</h3>
</div>
<div class='content'>
  <h4 class='subtitle'>Profile</h4>
  <table class='settings-table'>
    <tr>
      <td class='label-cell profile-first-column'>Name</td>
      <td class='control-cell'>
        {{#if isEditingName}}
          <form> {{! Capture enter key. }}
            {{input type='text' classNames='name-input' value=newName on-enter='saveName'}}
            <button type='submit' class='save-name-button' {{action 'saveName'}}>Save</button>
            <a href='#' {{action 'cancelEditingName'}}>Cancel</a>
          </form>
        {{else}}
          {{App.currentUser.name}}
          <a href='#' {{action 'editName'}}>Edit</a>
        {{/if}}
      </td>
    </tr>
    <tr>
      <td class='label-cell'>Mention Name</td>
      <td class='control-cell'>@{{App.currentUser.mentionName}}</td>
    </tr>
    <tr>
      <td class='label-cell'>Avatar</td>
      <td class='control-cell'>
        {{#if doesBrowserSupportAjaxFileUpload}}
          <img {{bind-attr src='App.currentUser.avatarUrl'}} class='small-avatar avatar-image'>
          <button type='button' {{action 'chooseAvatarFile'}}
            {{bind-attr disabled='isSendingAvatar'}}>
            {{#if isSendingAvatar}}
              Uploading...
            {{else}}
              Change
            {{/if}}
          </button>
          <input type='file' class='avatar-file-input' style='display: none'>
        {{/if}}
      </td>
    </tr>
  </table>

  <hr>

  <h4 class='subtitle'>Settings</h4>
  <table class='settings-table'>
    <tr>
      <td>
        <label for='show-join-leave-messages-checkbox'>
          <input type='checkbox' id='show-join-leave-messages-checkbox' class='checkbox'
            {{action 'changeClientPreference' 'showJoinLeaveMessages' on='change'}}>
          Show Join and Leave Messages
        </label>
      </td>
    </tr>
    <tr>
      <td>
        <label for='show-avatars-checkbox'>
          <input type='checkbox' id='show-avatars-checkbox' class='checkbox'
            {{action 'changeClientPreference' 'showAvatars' on='change'}}>
          Show Avatars
        </label>
      </td>
    </tr>
  </table>

  <hr>

  <h4 class='subtitle'>Notifications</h4>
  <table class='settings-table'>
    <tr>
      <th></th>
      <th>Play Sound</th>
      <th>Show Desktop<br> Notification</th>
    </tr>
    <tr>
      <td class='label-cell'>When Receiving a Message</td>
      <td class='control-cell checkbox-control-cell'>
        <input type='checkbox' class='play-sound-on-message-receive-checkbox'
          {{action 'changeClientPreference' 'playSoundOnMessageReceive' on='change'}}>
      </td>
      <td class='control-cell checkbox-control-cell'>
        <input type='checkbox' class='show-notification-on-message-receive-checkbox'
          {{action 'changeClientPreference' 'showNotificationOnMessageReceive' on='change'}}>
      </td>
    </tr>
    <tr>
      <td class='label-cell'>When Mentioned</td>
      <td class='control-cell checkbox-control-cell'>
        <input type='checkbox' class='play-sound-on-mention-checkbox'
          {{action 'changeClientPreference' 'playSoundOnMention' on='change'}}>
      </td>
      <td class='control-cell checkbox-control-cell'>
        <input type='checkbox' class='show-notification-on-mention-checkbox'
          {{action 'changeClientPreference' 'showNotificationOnMention' on='change'}}>
      </td>
    </tr>
    {{#if doesBrowserSupportRangeInput}}
      <tr>
        <td class='label-cell'>Volume</td>
        <td colspan='2' class='control-cell'>
          <input type='range' min='0' max='100' value='100' class='notification-volume'
            {{action 'changeVolumePreference' 'notificationVolume' on='change'}}>
        </td>
      </tr>
    {{/if}}
  </table>

  <hr>

  <h4 class='subtitle'>Notifications When Offline, Idle, or Away</h4>
  <table class='settings-table'>
    <tr>
      <th></th>
      <th>Email</th>
    </tr>
    <tr>
      <td class='label-cell'>When Mentioned</td>
      <td class='control-cell checkbox-control-cell'>
        <input type='checkbox' class='server-mention-email-checkbox' {{action 'changeServerPreference' on='change'}}>
      </td>
    </tr>
    <tr>
      <td class='label-cell'>When Receiving 1-1 Message</td>
      <td class='control-cell checkbox-control-cell'>
        <input type='checkbox' class='server-one-to-one-email-checkbox' {{action 'changeServerPreference' on='change'}}>
      </td>
    </tr>
  </table>
</div>
