<div class='header'>
  <div class='close' {{action 'hideDialog'}}>&times;</div>
  <h3>Settings</h3>
</div>
<div class='content'>
  <h4 class='subtitle'>Profile</h4>
  <table class='settings-table'>
    <tr>
      <td class='label-cell'>Name</td>
      <td class='control-cell'>{{App.currentUser.name}}</td>
    </tr>
    <tr>
      <td class='label-cell'>Mention Name</td>
      <td class='control-cell'>@{{App.currentUser.mentionName}}</td>
    </tr>
    <tr>
      <td class='label-cell'>Avatar</td>
      <td class='control-cell'>
        {{#if doesBrowserSupportAjaxFileUpload}}
          <img {{bind-attr src='App.currentUser.avatarUrl'}} class='small-avatar avatar-image'>
          <button type='button' {{action 'chooseAvatarFile'}}
            {{bind-attr disabled='isSendingAvatar'}}>
            {{#if isSendingAvatar}}
              Uploading...
            {{else}}
              Change
            {{/if}}
          </button>
          <input type='file' class='avatar-file-input' style='display: none'>
        {{/if}}
      </td>
    </tr>
  </table>

  <hr>

  <h4 class='subtitle'>Settings</h4>
  <table class='settings-table'>
    <tr>
      <td>
        <label for='show-join-leave-messages-checkbox'>
          {{! Don't use input helper since we can't set the id for the label. }}
          <input type='checkbox' id='show-join-leave-messages-checkbox' class='checkbox'
            {{action 'changeClientPref' on='change'}}
            {{bind-attr checked=preferences.clientWeb.showJoinLeaveMessages}}>
          Show Join and Leave Messages
        </label>
      </td>
    </tr>
    <tr>
      <td>
        <label for='show-online-offline-messages-checkbox'>
          {{! Don't use input helper since we can't set the id for the label. }}
          <input type='checkbox' id='show-online-offline-messages-checkbox' class='checkbox'
            {{action 'changeClientPref' on='change'}}
            {{bind-attr checked=preferences.clientWeb.showOnlineOfflineMessages}}>
          Show User Online and Offline Messages
        </label>
      </td>
    </tr>
    <tr>
      <td>
        <label for='show-avatars-checkbox'>
          {{! Don't use input helper since we can't set the id for the label. }}
          <input type='checkbox' id='show-avatars-checkbox' class='checkbox'
            {{action 'changeClientPref' on='change'}}
            {{bind-attr checked=preferences.clientWeb.showAvatars}}>
          Show Avatars
        </label>
      </td>
    </tr>
  </table>

  <hr>

  <h4 class='subtitle'>Notifications</h4>
  <table class='settings-table'>
    <tr>
      <th></th>
      <th>Play Sound</th>
      <th>Show Desktop<br> Notification</th>
    </tr>
    <tr>
      <td class='label-cell'>When Receiving a Message</td>
      <td class='control-cell checkbox-control-cell'>
        {{input type='checkbox' checked=preferences.clientWeb.playSoundOnMessageReceive}}
      </td>
      <td class='control-cell checkbox-control-cell'>
        {{input type='checkbox' checked=preferences.clientWeb.showNotificationOnMessageReceive}}
      </td>
    </tr>
    <tr>
      <td class='label-cell'>When Mentioned</td>
      <td class='control-cell checkbox-control-cell'>
        {{input type='checkbox' checked=preferences.clientWeb.playSoundOnMention}}
      </td>
      <td class='control-cell checkbox-control-cell'>
        {{input type='checkbox' checked=preferences.clientWeb.showNotificationOnMention}}
      </td>
    </tr>
  </table>
</div>
