<div class='header'>
  <div class='close' {{action 'hideDialog'}}>&times;</div>
  <h3>Settings</h3>
</div>
<div class='content'>
  <table style='width: 100%; margin-bottom: 10px;'>
    <tr>
      <td class='label-cell'>Name</td>
      <td class='control-cell'>{{App.currentUser.name}}</td>
    </tr>
    <tr>
      <td class='label-cell'>Mention Name</td>
      <td class='control-cell'>@{{App.currentUser.mentionName}}</td>
    </tr>
    <tr>
      <td class='label-cell'>Avatar</td>
      <td class='control-cell'>
        {{#if doesBrowserSupportAjaxFileUpload}}
          <img {{bind-attr src='App.currentUser.avatarUrl'}} class='small-avatar avatar-image'>
          <button type='button' {{action 'chooseAvatarFile'}}
            {{bind-attr disabled='isSendingAvatar'}}>
            {{#if isSendingAvatar}}
              Uploading...
            {{else}}
              Change
            {{/if}}
          </button>
          <input type='file' class='avatar-file-input' style='display: none'>
        {{/if}}
      </td>
    </tr>
  </table>
</div>
