{{! Use a form tag to capture enter key. }}
<form class='signup-form form' {{action 'attemptSignup' on='submit'}}>
  {{#if showClose}}
    <a href='#' class='close' {{action 'close'}}>&times;</a>
  {{/if}}
  <div class='title'>Sign Up</div>
  {{#if errorMessage}}
    <div class='alert alert-error'>{{errorMessage}}</div>
  {{/if}}
  <div class='control-group'>
    {{input type='email' value=email placeholder='Email'}}
  </div>
  <div class='control-group'>
    {{input type='password' value=password placeholder='Password'}}
  </div>
  <div class='control-group'>
    {{input type='text' value=name placeholder='Name'}}
  </div>
  <div class='form-actions'>
    {{#if showRelatedLinks}}
      <div class='related-link'>
        Already have an account?<br>
        {{#link-to 'login'}}Log In{{/link-to}}
      </div>
    {{/if}}
    <button type='submit' class='app-btn' {{bind-attr disabled='isSignupDisabled'}}>Sign Up</button>
    <div class='clearfix'></div>
  </div>

  <hr>

  <div class='facebook-group'>
    <div class='facebook-or'>OR</div>
    <button type='button' class='app-btn' {{bind-attr disabled='isSignupDisabled'}}
      {{action 'attemptSignUpWithFacebook'}}>
      Sign Up With Facebook
    </button>
  </div>
</form>
