extends layout

block head-content
  //- Make sure robots don't treat this as duplicate content.
  link(rel='canonical' href='/')

block content
  //- Asset paths with md5 sums.
  script.
    window.AppAssets = {
      imageAvatar: !{JSON.stringify(img('/images/avatar.png'))},
      imageLogo: !{JSON.stringify(img('/images/' + config.appStaticViewsDirectory + 'logo.png'))},
      imageLogoSmall: !{JSON.stringify(img('/images/' + config.appStaticViewsDirectory + 'logo-small.png'))},
      imageLogoBig: !{JSON.stringify(img(config.imageLogoPath))},
      imageLogoWide: !{JSON.stringify(img('/images/' + config.appStaticViewsDirectory + 'logo-wide.png'))},
      imageIosAppStore: !{JSON.stringify(img('/images/ios-app-store.png'))},
      imageGooglePlay: !{JSON.stringify(img('/images/google-play.png'))},
      imageRoom: !{JSON.stringify(img('/images/room.png'))},
      imageForgotStep1: !{JSON.stringify(img('/images/' + config.appStaticViewsDirectory + 'forgot-step1.png'))},
      imageForgotStep2: !{JSON.stringify(img('/images/' + config.appStaticViewsDirectory + 'forgot-step2.png'))}
    };
  script(src="#{config.fayeProtocolAndHost}/faye/client.js")

  //- For robots.
  noscript
    img(src=img(config.imageLogoPath) alt=config.displayTitle style='width: 99%; max-width: 300px; height: auto;')
    div
      a(href=config.iosAppInstallUrl target='_blank' class='app-link first-app-link')
        img(src=img('/images/ios-app-store.png') alt='Download on the App Store' style='width: 200px; height: auto')
