extends mobile-layout

block head-content
  |  <style type="text/css">
  |    strong, b { font-weight: bold; }
  |  </style>

block content
  | <p class=MsoNormal align=center style='text-align:center'><b><span
  | style='font-size:11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri'>SkyMob
  | Privacy Policy<o:p></o:p></span></b></p>
  | 
  | <p class=MsoNormal align=center style='text-align:center;mso-outline-level:
  | 2'><b><span style='font-size:11.0pt;font-family:Calibri;mso-bidi-font-family:
  | Calibri'>Last Updated: December 12, 2013<o:p></o:p></span></b></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-outline-level:2'><b><span
  | style='font-size:11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri'><o:p>&nbsp;</o:p></span></b></p>
  | 
  | <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
  | font-family:Calibri;mso-bidi-font-family:Calibri'>Protecting your privacy is
  | really important to Perceptual Networks. Accordingly, we’re providing this
  | Privacy Policy to explain our practices regarding the collection, use and
  | disclosure of information that we receive when you use our Services (as defined
  | in our SkyMob Terms of Service, accessible at http://www.skymob.co/legal/tos<span
  | style='mso-bidi-font-weight:bold'>. This Privacy Policy applies only to those
  | websites, services and applications included within “Services”</span> and
  | doesn’t apply to any third-party websites, services or applications, even if
  | they are accessible through our Services. Also, please note that, unless we
  | define a term in this Privacy Policy, all capitalized words <span
  | style='mso-bidi-font-weight:bold'>used in this Privacy Policy have the same
  | meanings as in our Terms of Service.</span><o:p></o:p></span></p>
  | 
  | <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
  | font-family:Calibri;mso-bidi-font-family:Calibri'><o:p>&nbsp;</o:p></span></p>
  | 
  | <p class=MsoNormal style='margin-bottom:6.0pt;text-align:justify'><b><span
  | style='font-size:11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri'>How
  | do we collect and use information?<o:p></o:p></span></b></p>
  | 
  | <p class=MsoNormal style='margin-bottom:6.0pt;text-align:justify'><span
  | style='font-size:11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri'>Our
  | primary goals in collecting information are to provide and improve our
  | Services, to administer your use of the Services (including your Account, if
  | you are an Account holder), and to enable you to enjoy and easily navigate our
  | Services.<span style='mso-bidi-font-weight:bold'><o:p></o:p></span></span></p>
  | 
  | <p class=MsoNormal style='text-align:justify'><u><span style='font-size:11.0pt;
  | font-family:Calibri;mso-bidi-font-family:Calibri'>Account Information</span></u><span
  | style='font-size:11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri'>.
  | When you create an Account we’ll collect certain information that can be used
  | to identify you, such as your name and email address (“<b style='mso-bidi-font-weight:
  | normal'>Personally Identifiable Information</b>” or “<b style='mso-bidi-font-weight:
  | normal'>PII</b>”). We may also collect certain information that is not PII
  | because it cannot be used by itself to identify you, such as your gender and
  | date of birth. If you choose to create an Account through one of your SNS
  | Accounts, you may have to provide us with your username (or userID) so that
  | your identity can be authenticated by the SNS Account. When the authentication
  | is complete, we’ll be able to link your Account with the SNS Account and access
  | certain PII, such as your name and email address, and other PII that your privacy
  | settings on the SNS Account permit us to access. We don’t receive or store
  | passwords for any of your SNS Accounts.<o:p></o:p></span></p>
  | 
  | <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
  | font-family:Calibri;mso-bidi-font-family:Calibri'><o:p>&nbsp;</o:p></span></p>
  | 
  | <p class=MsoNormal style='text-align:justify'><u><span style='font-size:11.0pt;
  | font-family:Calibri;mso-bidi-font-family:Calibri'>Information Collected Using
  | Cookies</span></u><span style='font-size:11.0pt;font-family:Calibri;mso-bidi-font-family:
  | Calibri'>. We collect certain information through the use of “cookies,” which
  | are small text files that are saved by your browser when you access our
  | Services. We may use both session cookies and persistent cookies to identify
  | that you’ve logged in to the Services and to tell us how and when you interact
  | with our Services. We may also use cookies to monitor aggregate usage and web
  | traffic routing on our Services and to customize and improve our Services.
  | Unlike persistent cookies, session cookies are deleted when you log off from
  | the Services and close your browser. Although most browsers automatically
  | accept cookies, you can change your browser options to stop automatically
  | accepting cookies or to prompt you before accepting cookies. Please note,
  | however, that if you don’t accept cookies, you may not be able to access all
  | portions or features of the Services. Some third-party services providers that
  | we engage (including third-party advertisers) may also place their own cookies
  | on your browser. Note that this Privacy Policy covers only our use of cookies
  | and does not include use of cookies by such third parties. <o:p></o:p></span></p>
  | 
  | <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
  | font-family:Calibri;mso-bidi-font-family:Calibri'><o:p>&nbsp;</o:p></span></p>
  | 
  | <p style='margin-top:0in;margin-right:7.5pt;margin-bottom:7.5pt;margin-left:
  | 0in;text-align:justify'><strong><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>Web Beacons</span></strong><span
  | style='font-size:11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri'><o:p></o:p></span></p>
  | 
  | <p style='margin-top:0in;margin-right:7.5pt;margin-bottom:7.5pt;margin-left:
  | 0in;text-align:justify'><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>We also use &quot;web beacons,&quot; &quot;pixel
  | tags,&quot; &quot;clear GIFs&quot; or similar means (individually or
  | collectively &quot;<em><b><span style='font-family:Calibri;mso-bidi-font-family:
  | Calibri;font-style:normal;mso-bidi-font-style:italic'>Web Beacons</span></b></em>&quot;)
  | on our Services. A Web Beacon is an electronic image, often a single pixel,
  | embedded on web pages. Web Beacons are ordinarily not visible to users. Web
  | Beacons allow us to count the number of users who have visited certain pages of
  | the Services, to deliver branded services and to generate statistics about how
  | our Services are used. <b style='mso-bidi-font-weight:normal'><o:p></o:p></b></span></p>
  | 
  | <p class=MsoNormal style='text-align:justify'><u><span style='font-size:11.0pt;
  | font-family:Calibri;mso-bidi-font-family:Calibri'>Information Related to Use of
  | the Services</span></u><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>. <span style='mso-bidi-font-style:italic'>Our Services
  | automatically record certain information about how a person uses our Services </span>(we
  | refer to this information as “<b style='mso-bidi-font-weight:normal'>Log Data</b>”)<span
  | style='mso-bidi-font-style:italic'>, including both Account holders and
  | non-Account holders (either, a “<b style='mso-bidi-font-weight:normal'>User</b>”)</span>.
  | Log Data may include information such as a User’s Internet Protocol (IP)
  | address, mobile device identification number (if you access the Services via a
  | mobile device), browser type, operating system, the web page that a User was
  | visiting before accessing our Services, the pages or features of our Services
  | to which a User browsed and the time spent on those pages or features, search
  | terms, content load times, notification delivery status, the links on our
  | Services that a User clicked on and other statistics. We use this information
  | to administer the Services and we analyze (and may engage third parties to
  | analyze) this information to improve and enhance the Services by expanding
  | their features and functionality and tailoring them to our Users’ needs and
  | preferences. We may use a person’s IP address to fight spam, malware and
  | identity theft. We also use the IP Address to generate aggregate,
  | non-identifying information about how our Services are used. <b
  | style='mso-bidi-font-weight:normal'><o:p></o:p></b></span></p>
  | 
  | <p class=MsoNormal style='text-align:justify'><b style='mso-bidi-font-weight:
  | normal'><span style='font-size:11.0pt;font-family:Calibri;mso-bidi-font-family:
  | Calibri'><o:p>&nbsp;</o:p></span></b></p>
  | 
  | <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
  | font-family:Calibri;mso-bidi-font-family:Calibri'>We use Google Analytics and
  | Flurry Analytics to collect, monitor and analyze Log Data in order to increase
  | our Services’ functionality and user-friendliness, and to better tailor our
  | Services to our visitors’ needs.<span style="mso-spacerun:yes">&nbsp; </span>We
  | also use this information to verify that visitors to the Services meet the
  | criteria required to process their requests.<span
  | style="mso-spacerun:yes">&nbsp; </span>Accordingly, Log Data is shared with
  | Google and Flurry, which have their own privacy policies (accessible at <span
  | class=MsoHyperlink><span style='color:windowtext'><a
  | href="http://www.google.com/policies/privacy/"><span style='color:windowtext'>http://www.google.com/policies/privacy/</span></a></span></span><a
  | name="_DV_M37"></a> and <span class=MsoHyperlink><span style='color:windowtext'><a
  | href="http://www.flurry.com/about-us/legal/privacy.html"><span
  | style='color:windowtext'>http://www.flurry.com/about-us/legal/privacy.html</span></a></span></span><a
  | name="_DV_M38"></a> respectively) addressing how these parties use such
  | information.<span style="mso-spacerun:yes">&nbsp; </span>You may opt out of
  | Flurry Analytics tracking and personalized ads/recommendations from Flurry by
  | clicking <span class=MsoHyperlink><span style='color:windowtext'><a
  | href="http://www.flurry.com/resources/privacy.html"><span style='color:windowtext'>here</span></a></span></span><a
  | name="_DV_M39"></a>.<span style="mso-spacerun:yes">&nbsp; </span>Please note
  | that the opt-out is specific to Flurry activities and does not affect the
  | activities of other ad networks or analytics providers.</span><span
  | style='font-size:11.0pt'><span style="mso-spacerun:yes">&nbsp; </span><o:p></o:p></span></p>
  | 
  | <p class=MsoNormal style='text-align:justify'><u><span style='font-size:11.0pt;
  | font-family:Calibri;mso-bidi-font-family:Calibri'><o:p><span style='text-decoration:
  |  none'>&nbsp;</span></o:p></span></u></p>
  | 
  | <p class=MsoNormal style='text-align:justify'><u><span style='font-size:11.0pt;
  | font-family:Calibri;mso-bidi-font-family:Calibri'>Location Information</span></u><span
  | style='font-size:11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri'>. <span
  | style='mso-bidi-font-style:italic'>In some cases we collect and store
  | information about where you are located, such as by converting your IP address
  | into a rough geolocation or via your mobile device GPS information. We may use
  | location information to improve and personalize our Services for you.<o:p></o:p></span></span></p>
  | 
  | <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
  | font-family:Calibri;mso-bidi-font-family:Calibri;mso-bidi-font-style:italic'><o:p>&nbsp;</o:p></span></p>
  | 
  | <p class=MsoNormal style='text-align:justify'><b><span style='font-size:11.0pt;
  | font-family:Calibri;mso-bidi-font-family:Calibri'>What Information Do We Share
  | With Third Parties?<o:p></o:p></span></b></p>
  | 
  | <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
  | font-family:Calibri;mso-bidi-font-family:Calibri'><o:p>&nbsp;</o:p></span></p>
  | 
  | <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
  | font-family:Calibri;mso-bidi-font-family:Calibri'>We will not share any PII
  | that we have collected from you except as described below:<o:p></o:p></span></p>
  | 
  | <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
  | font-family:Calibri;mso-bidi-font-family:Calibri'><o:p>&nbsp;</o:p></span></p>
  | 
  | <p class=MsoNormal style='text-align:justify'><u><span style='font-size:11.0pt;
  | font-family:Calibri;mso-bidi-font-family:Calibri'>SkyMob Users</span></u><span
  | style='font-size:11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri'>. If
  | you choose to create a profile via the Services, other Users will see your username,
  | profile picture and any Content (including, but not limited to, text, photos
  | and videos) you choose to make available via the Services.<span
  | style="mso-spacerun:yes">&nbsp; </span>Any User Content you share in a chat
  | room can be viewed by any other user who is in the same chat room. <span
  | style="mso-spacerun:yes">&nbsp;</span>In addition, if you choose to send any
  | messages, photos, videos or other Content to another User via the Services,
  | such User will be able to access and view such Content in connection with your publicly
  | viewable profile information and any Content you share in a common chat room
  | inside the Services.<span style="mso-spacerun:yes">&nbsp; </span>We recommend
  | that you guard your sensitive information. <o:p></o:p></span></p>
  | 
  | <p class=MsoNormal style='text-align:justify'><u><span style='font-size:11.0pt;
  | font-family:Calibri;mso-bidi-font-family:Calibri'><o:p><span style='text-decoration:
  |  none'>&nbsp;</span></o:p></span></u></p>
  | 
  | <p class=MsoNormal style='text-align:justify'><u><span style='font-size:11.0pt;
  | font-family:Calibri;mso-bidi-font-family:Calibri'>Information Shared with Our
  | Services Providers</span></u><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>. We may engage third party service providers to
  | work with us to administer and provide the Services and to manage transactions
  | made via the Services. These third-party services providers have access to your
  | PII only for the purpose of performing services on our behalf and are expressly
  | obligated not to disclose or use your PII for any other purpose.<o:p></o:p></span></p>
  | 
  | <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
  | font-family:Calibri;mso-bidi-font-family:Calibri'><o:p>&nbsp;</o:p></span></p>
  | 
  | <p class=MsoNormal style='text-align:justify'><u><span style='font-size:11.0pt;
  | font-family:Calibri;mso-bidi-font-family:Calibri'>Information Shared with Third
  | Parties</span></u><span style='font-size:11.0pt;font-family:Calibri;mso-bidi-font-family:
  | Calibri'>. We may share aggregated information and non-identifying information
  | with third parties for industry analysis, demographic profiling and other
  | similar purposes.<o:p></o:p></span></p>
  | 
  | <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
  | font-family:Calibri;mso-bidi-font-family:Calibri'><o:p>&nbsp;</o:p></span></p>
  | 
  | <p class=MsoNormal style='text-align:justify'><u><span style='font-size:11.0pt;
  | font-family:Calibri;mso-bidi-font-family:Calibri'>Information Disclosed in
  | Connection with Business Transactions</span></u><span style='font-size:11.0pt;
  | font-family:Calibri;mso-bidi-font-family:Calibri'>. Information that we collect
  | from our users, including PII, is considered to be a business asset. As a
  | result, if we go out of business or enter bankruptcy or if we are acquired as a
  | result of a transaction such as a merger, acquisition or asset sale, your PII
  | may be disclosed or transferred to the third-party acquirer in connection with
  | the transaction.<o:p></o:p></span></p>
  | 
  | <p class=MsoNormal style='text-align:justify;vertical-align:baseline'><span
  | style='font-size:11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri'><o:p>&nbsp;</o:p></span></p>
  | 
  | <p class=MsoNormal style='text-align:justify'><u><span style='font-size:11.0pt;
  | font-family:Calibri;mso-bidi-font-family:Calibri'>Information Disclosed for Our
  | Protection and the Protection of Others</span></u><span style='font-size:11.0pt;
  | font-family:Calibri;mso-bidi-font-family:Calibri'>. It is our policy to protect
  | you from having your privacy violated through abuse of the legal systems,
  | whether by individuals, entities or government, and to contest claims that we
  | believe to be invalid under applicable law. However, it is also our policy to </span><span
  | lang=EN style='font-size:11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri;
  | mso-ansi-language:EN'>cooperate with government and law enforcement officials
  | and private parties. Accordingly, we </span><span style='font-size:11.0pt;
  | font-family:Calibri;mso-bidi-font-family:Calibri'>reserve the right to disclose
  | any information </span><span lang=EN style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri;mso-ansi-language:EN'>about you to government or
  | law enforcement officials or private parties as we, in our sole discretion,
  | believe necessary: (i) to satisfy or comply with any applicable law, regulation
  | or legal process or to respond to lawful requests, including subpoenas, warrants
  | or court orders; (ii) to protect our property, rights and safety and the
  | rights, property and safety of third parties or the public in general; and (iv)
  | to prevent or stop activity we consider to be illegal or unethical.<o:p></o:p></span></p>
  | 
  | <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
  | font-family:Calibri;mso-bidi-font-family:Calibri'><o:p>&nbsp;</o:p></span></p>
  | 
  | <p class=MsoNormal style='text-align:justify'><u><span style='font-size:11.0pt;
  | font-family:Calibri;mso-bidi-font-family:Calibri'>Information We Disclose With
  | Your Consent or at Your Request</span></u><span style='font-size:11.0pt;
  | font-family:Calibri;mso-bidi-font-family:Calibri'>. We will share your PII with
  | third-party sites or platforms, such as social networking sites, if you have
  | expressly requested that we do so.<o:p></o:p></span></p>
  | 
  | <p class=MsoBodyText style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
  | justify;text-indent:0in'><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri;mso-bidi-font-weight:bold'><o:p>&nbsp;</o:p></span></p>
  | 
  | <p class=MsoBodyText style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
  | justify;text-indent:0in'><b><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>The Security of Your Information<o:p></o:p></span></b></p>
  | 
  | <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
  | font-family:Calibri;mso-bidi-font-family:Calibri'>We take reasonable measures
  | to protect the information that we collect from or about you (including your
  | PII) from unauthorized access, use or disclosure. Please be aware, however,
  | that no method of transmitting information over the Internet or storing
  | information is completely secure. Accordingly, we cannot guarantee the absolute
  | security of any information. <b style='mso-bidi-font-weight:normal'><o:p></o:p></b></span></p>
  | 
  | <p class=MsoNormal style='text-align:justify'><span style='font-size:11.0pt;
  | font-family:Calibri;mso-bidi-font-family:Calibri'><o:p>&nbsp;</o:p></span></p>
  | 
  | <p class=MsoBodyText style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
  | justify;text-indent:0in'><b><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>Links to Other Sites<o:p></o:p></span></b></p>
  | 
  | <p class=MsoBodyText style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
  | justify;text-indent:0in;mso-pagination:widow-orphan'><span style='font-size:
  | 11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri'>Our Services may
  | contain links to other websites and services. Any information that you provide
  | on or to a third-party website or service is provided directly to the owner of
  | the website or service and is subject to that party's privacy policy. Our
  | Privacy Policy does not apply to such websites or services and we’re not
  | responsible for the content, privacy or security practices and policies of
  | those websites or services. To protect your information we recommend that you
  | carefully review the privacy policies of other websites and services that you
  | access.<o:p></o:p></span></p>
  | 
  | <p class=MsoBodyText style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
  | justify;text-indent:0in'><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'><o:p>&nbsp;</o:p></span></p>
  | 
  | <p class=MsoBodyText style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
  | justify;text-indent:0in'><b><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>Modifying Your Information<o:p></o:p></span></b></p>
  | 
  | <p class=MsoBodyText style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
  | justify;text-indent:0in'><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>You can access and modify the PII associated with
  | your Account via the “Settings” section of the Services. <span
  | style="mso-spacerun:yes">&nbsp;</span>If you want us to delete your PII and
  | your Account, you may do so via the “Settings” section of the Services. <span
  | style="mso-spacerun:yes">&nbsp;</span>Please note that we’ll take steps to
  | delete your PII as soon as is practicable, but some PII may remain in
  | archived/backup copies for our records or as otherwise required by law and we
  | will not delete your User Content or non-identifying information, which will no
  | longer be viewable via the Services, but will be retained for our internal
  | business purposes. <b style='mso-bidi-font-weight:normal'><o:p></o:p></b></span></p>
  | 
  | <p class=MsoBodyText style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
  | justify;text-indent:0in'><b style='mso-bidi-font-weight:normal'><span
  | style='font-size:11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri'><o:p>&nbsp;</o:p></span></b></p>
  | 
  | <p class=MsoBodyText style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
  | justify;text-indent:0in'><b style='mso-bidi-font-weight:normal'><span
  | style='font-size:11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri'>Logging
  | out of the Services via the App<o:p></o:p></span></b></p>
  | 
  | <p class=MsoBodyText style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
  | justify;text-indent:0in'><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>Please note that after you log in to the Services
  | via our App, you will remain logged in to the Services unless you affirmatively
  | log out of the Services via the “Settings” section of the App.<span
  | style="mso-spacerun:yes">&nbsp; </span>This means that if you delete the App
  | from your mobile device while logged in to the Services and then reinstall the
  | App, you will remain logged into the Services until you log out via your
  | Account “Settings”.<span style="mso-spacerun:yes">&nbsp; </span><o:p></o:p></span></p>
  | 
  | <p class=MsoBodyText style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
  | justify;text-indent:0in'><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'><o:p>&nbsp;</o:p></span></p>
  | 
  | <p class=MsoBodyText style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
  | justify;text-indent:0in'><b><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>International Transfer<o:p></o:p></span></b></p>
  | 
  | <p class=MsoBodyText style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
  | justify;text-indent:0in'><span class=cssglobalsystextdarkgray1><span
  | style='font-size:11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri;
  | color:windowtext'>Your PII may be transferred to, and maintained on, computers
  | located outside of your state, province, country or other governmental
  | jurisdiction where the privacy laws may not be as protective as those in your
  | jurisdiction. </span></span><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>If you’re located outside the United States and
  | choose to provide your PII to us, we may transfer your PII to the United States
  | and process it there. <span class=cssglobalsystextdarkgray1><span
  | style='mso-ansi-font-size:11.0pt;mso-bidi-font-size:11.0pt;font-family:Calibri;
  | color:windowtext'><span style="mso-spacerun:yes">&nbsp;&nbsp;</span><o:p></o:p></span></span></span></p>
  | 
  | <p class=MsoBodyText style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
  | justify;text-indent:0in'><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'><o:p>&nbsp;</o:p></span></p>
  | 
  | <p class=MsoBodyText style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
  | justify;text-indent:0in'><b><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>Our Policy Toward Children<o:p></o:p></span></b></p>
  | 
  | <p class=MsoBodyText style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
  | justify;text-indent:0in'><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>Our Services are not directed to children under 13
  | and we do not knowingly collect PII from children under 13. If we learn that we
  | have collected PII of a child under 13 we will take steps to delete such
  | information from our files as soon as possible.<o:p></o:p></span></p>
  | 
  | <p class=MsoBodyText style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
  | justify;text-indent:0in'><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'><o:p>&nbsp;</o:p></span></p>
  | 
  | <p class=MsoBodyText style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
  | justify;text-indent:0in'><b><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>Changes to Privacy Policy<o:p></o:p></span></b></p>
  | 
  | <p class=MsoBodyText style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
  | justify;text-indent:0in'><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>Any information that we collect is subject to the
  | privacy policy in effect at the time such information is collected. We may,
  | however, modify and revise this Privacy Policy from time to time. If we make
  | any material changes to this Privacy Policy, we’ll notify you of such changes
  | by posting them on the Services or by sending you an email or other
  | notification, and we’ll indicate when such changes will become effective.<o:p></o:p></span></p>
  | 
  | <p class=MsoBodyText style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
  | justify;text-indent:0in'><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'><o:p>&nbsp;</o:p></span></p>
  | 
  | <p class=MsoBodyText style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
  | justify;text-indent:0in'><b><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>Questions?</span></b><span style='font-size:11.0pt;
  | font-family:Calibri;mso-bidi-font-family:Calibri'><o:p></o:p></span></p>
  | 
  | <p class=MsoBodyText style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
  | justify;text-indent:0in'><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>Please contact us at <a
  | href="mailto:support@perceptualnet.com">support@perceptualnet.com</a> if you
  | have any questions about our Privacy Policy.<o:p></o:p></span></p>
