extends ../mobile-layout

block head-content
  |  <style type="text/css">
  |    strong, b { font-weight: bold; }
  |  </style>


block content
  | <p class=MsoNormal align=center style='text-align:center;mso-pagination:widow-orphan;
  | mso-outline-level:2'><b><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>SkyMob Terms of Service<o:p></o:p></span></b></p>
  | 
  | <p class=MsoNormal align=center style='text-align:center;mso-pagination:widow-orphan;
  | mso-outline-level:2'><a name="_DV_M1"></a><b><span style='font-size:11.0pt;
  | font-family:Calibri;mso-bidi-font-family:Calibri'>Last Updated: December 12,
  | 2013<o:p></o:p></span></b></p>
  | 
  | <p class=MsoNormal style='mso-pagination:widow-orphan'><span style='font-size:
  | 11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri'><o:p>&nbsp;</o:p></span></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan'><a
  | name="_DV_M2"></a><span style='font-size:11.0pt;font-family:Calibri;mso-bidi-font-family:
  | Calibri'>Welcome to SkyMob! Perceptual Networks, Inc. (“<b>Perceptual</b>”)
  | provides SkyMob, our <a name="_DV_C6"><span class=DeltaViewInsertion><span
  | style='color:windowtext;text-decoration:none;text-underline:none'>communications
  | platform for chatting in chatrooms and one on one by communicating in words,
  | pictures and video</span></span></a><a name="_DV_M3"></a> via our website
  | located at www.skymob.co (the “<b>Site</b>”) and our mobile device <a
  | name="_DV_C8"><span class=DeltaViewInsertion><span style='color:windowtext;
  | text-decoration:none;text-underline:none'>applications (the “<b>Apps</b>”).</span></span></a><a
  | name="_DV_M5"></a> Please read these Terms of Service (the “<b>Terms</b>”)
  | carefully because they govern your use of our Site and<a name="_DV_C10"> <span
  | class=DeltaViewInsertion><span style='color:windowtext;text-decoration:none;
  | text-underline:none'>Apps</span></span></a><a name="_DV_M6"></a>. To make these
  | Terms easier to read, the Site, our services and <a name="_DV_C12"><span
  | class=DeltaViewInsertion><span style='color:windowtext;text-decoration:none;
  | text-underline:none'>Apps</span></span></a><a name="_DV_M7"></a> are
  | collectively called the “<b>Services</b>.”<o:p></o:p></span></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan'><span
  | style='font-size:11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri'><o:p>&nbsp;</o:p></span></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan'><a
  | name="_DV_M9"></a><b><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>Agreement to Terms<o:p></o:p></span></b></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan'><a
  | name="_DV_M10"></a><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>By using our Services, you agree to be bound by
  | these Terms. If you don’t agree to these Terms, do not use the Services.<o:p></o:p></span></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan'><a
  | name="_DV_M11"></a><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'><o:p>&nbsp;</o:p></span></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan'><b><span
  | style='font-size:11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri'>Changes
  | to Terms or Services<o:p></o:p></span></b></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan'><a
  | name="_DV_M12"></a><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>We may modify the Terms at any time, in our sole
  | discretion. If we do so, we’ll let you know either by posting the modified
  | Terms on the Site or through other communications. It’s important that you
  | review the Terms whenever we modify them because if you continue to use the
  | Services after we have posted modified Terms on the Site, you are indicating to
  | us that you agree to be bound by the modified Terms. If you don’t agree to be
  | bound by the modified Terms, then you can’t use the Services anymore. Because
  | our Services are evolving over time we may change or discontinue all or any
  | part of the Services, at any time and without notice, at our sole discretion.<b><span
  | style='background:yellow;mso-highlight:yellow'> </span></b><o:p></o:p></span></p>
  | 
  | <p class=NormalWeb style='margin:0in;margin-bottom:.0001pt;mso-pagination:widow-orphan'><span
  | style='font-size:11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri'><o:p>&nbsp;</o:p></span></p>
  | 
  | <p class=MsoNormal style='margin-bottom:6.0pt;mso-pagination:widow-orphan;
  | mso-outline-level:2'><a name="_DV_M13"></a><b><span style='font-size:11.0pt;
  | font-family:Calibri;mso-bidi-font-family:Calibri'>Who May Use the Services<o:p></o:p></span></b></p>
  | 
  | <p class=MsoNormal style='mso-pagination:widow-orphan;mso-outline-level:2'><a
  | name="_DV_M14"></a><u><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>Eligibility<o:p></o:p></span></u></p>
  | 
  | <p class=NormalWeb style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
  | margin-left:0in;text-align:justify;mso-pagination:widow-orphan'><a
  | name="_DV_M15"></a><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>You may use the Services only if you are 13 years
  | or older and capable of forming a binding contract with Perceptual and are not
  | barred from using the Services under applicable law. <o:p></o:p></span></p>
  | 
  | <p class=MsoNormal style='mso-pagination:widow-orphan;mso-outline-level:2'><a
  | name="_DV_M16"></a><u><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>Registration and Your Information<o:p></o:p></span></u></p>
  | 
  | <p class=NormalWeb style='margin:0in;margin-bottom:.0001pt;text-align:justify;
  | mso-pagination:widow-orphan'><a name="_DV_M17"></a><span style='font-size:11.0pt;
  | font-family:Calibri;mso-bidi-font-family:Calibri'>If you want to use certain
  | features of the Services you’ll have to create an account (“<b>Account</b>”).
  | You can do this via the Services or through your account with certain
  | third-party social networking services such as Facebook or Twitter (each, an “<b>SNS
  | Account</b>”). If you choose the SNS Account option we’ll create your Account
  | by extracting from your SNS Account certain personal information such as your
  | name and email address and other personal information that your privacy
  | settings on the SNS Account permit us to access.<o:p></o:p></span></p>
  | 
  | <p class=NormalWeb style='margin:0in;margin-bottom:.0001pt;text-align:justify;
  | mso-pagination:widow-orphan'><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'><o:p>&nbsp;</o:p></span></p>
  | 
  | <p class=NormalWeb style='margin:0in;margin-bottom:.0001pt;text-align:justify;
  | mso-pagination:widow-orphan'><a name="_DV_M18"></a><span style='font-size:11.0pt;
  | font-family:Calibri;mso-bidi-font-family:Calibri'>It’s important that you
  | provide us with accurate, complete and up-to-date information for your Account
  | and you agree to update such information, as needed, to keep it accurate,
  | complete and up-to-date. If you don’t, we might have to suspend or terminate
  | your Account. You agree that you won’t disclose your Account password to anyone
  | and you’ll notify us immediately of any unauthorized use of your Account.
  | You’re responsible for all activities that occur under your Account, whether or
  | not you know about them.<o:p></o:p></span></p>
  | 
  | <p class=NormalWeb style='margin:0in;margin-bottom:.0001pt;text-align:justify;
  | mso-pagination:widow-orphan'><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'><o:p>&nbsp;</o:p></span></p>
  | 
  | <p class=NormalWeb style='margin:0in;margin-bottom:.0001pt;text-align:justify;
  | mso-pagination:widow-orphan'><a name="_DV_M19"></a><b><span style='font-size:
  | 11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri'>Using the Services<o:p></o:p></span></b></p>
  | 
  | <p class=NormalWeb style='margin:0in;margin-bottom:.0001pt;text-align:justify;
  | mso-pagination:widow-orphan'><a name="_DV_M20"></a><span style='font-size:11.0pt;
  | font-family:Calibri;mso-bidi-font-family:Calibri'>Via the Services, Account
  | holders can (i) create profiles containing their <a name="_DV_C16"><span
  | class=DeltaViewInsertion><span style='color:windowtext;text-decoration:none;
  | text-underline:none'>username</span></span></a><a name="_DV_M21"></a>, picture
  | and any other User Content (defined below) that the Account holder chooses to
  | make available via the Services to be viewed by other users of the Services;
  | (ii) create chat rooms accessible via a keycode or URL; (iii) invite people to
  | join the chat rooms, (iv) post User Content in the chat rooms and communicate
  | with other users in 1-on-1 chat rooms, and (iv) view User Content made
  | available by other users in their profiles chat rooms and 1-on-1 chat rooms<a
  | name="_DV_C19"><span class=DeltaViewInsertion><span style='color:windowtext;
  | text-decoration:none;text-underline:none'>. </span></span></a>Each Account
  | holder can modify the privacy settings associated with his or her Account by
  | accessing the “Settings” section of the Services<a name="_DV_C20"><span
  | class=DeltaViewInsertion><span style='color:windowtext;text-decoration:none;
  | text-underline:none'> or, for certain features, the “Profile” section of the
  | Services</span></span></a><a name="_DV_M25"></a>.<a name="_DV_C21"><span
  | class=DeltaViewDeletion><span style='color:windowtext'> </span></span></a><o:p></o:p></span></p>
  | 
  | <p class=NormalWeb style='margin:0in;margin-bottom:.0001pt;text-align:justify;
  | mso-pagination:widow-orphan'><span lang=EN style='font-size:11.0pt;font-family:
  | Calibri;mso-bidi-font-family:Calibri;mso-ansi-language:EN'><o:p>&nbsp;</o:p></span></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan;
  | mso-outline-level:2'><a name="_DV_M26"></a><b><span lang=EN style='font-size:
  | 11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri;mso-ansi-language:EN'>Feedback<o:p></o:p></span></b></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan;
  | mso-outline-level:2'><a name="_DV_M27"></a><span style='font-size:11.0pt;
  | font-family:Calibri;mso-bidi-font-family:Calibri'>We welcome feedback, comments
  | and suggestions for improvements to the Services (“<b>Feedback</b>”). You can
  | submit Feedback <a name="_DV_C31"><span class=DeltaViewInsertion><span
  | style='color:windowtext;text-decoration:none;text-underline:none'>through the
  | support interface in the “Settings” section of the Apps</span></span></a><a
  | name="_DV_M28"></a>. You grant to us a non-exclusive, worldwide, perpetual,
  | irrevocable, fully-paid, royalty-free, sublicenseable and transferable license
  | under any and all intellectual property rights that you own or control to use,
  | copy, modify, create derivative works based upon and otherwise exploit the
  | Feedback for any purpose.</span><span lang=EN style='font-size:11.0pt;
  | font-family:Calibri;mso-bidi-font-family:Calibri;mso-ansi-language:EN'><o:p></o:p></span></p>
  | 
  | <p class=NormalWeb style='margin:0in;margin-bottom:.0001pt;text-align:justify;
  | mso-pagination:widow-orphan'><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'><o:p>&nbsp;</o:p></span></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan;
  | mso-outline-level:2'><a name="_DV_M30"></a><b><span style='font-size:11.0pt;
  | font-family:Calibri;mso-bidi-font-family:Calibri'>Privacy Policy<o:p></o:p></span></b></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan'><a
  | name="_DV_M31"></a><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>Please refer to our <a name="_Hlt323810786"></a><a
  | name="_Hlt323810785"></a><a name="_DV_M32"></a><span style='mso-bookmark:_Hlt323810786'><span
  | style='mso-bookmark:_Hlt323810785'>Privacy Policy</span></span><a name="_DV_M33"></a>
  | (http://www.skymob.co/legal/privacy) for information on how we collect, use and
  | disclose information from our users.<o:p></o:p></span></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan'><span
  | style='font-size:11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri'><o:p>&nbsp;</o:p></span></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan;
  | mso-outline-level:2'><a name="_DV_M34"></a><b><span style='font-size:11.0pt;
  | font-family:Calibri;mso-bidi-font-family:Calibri'>Content and Content Rights<o:p></o:p></span></b></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan;
  | mso-outline-level:2'><a name="_DV_M35"></a><span style='font-size:11.0pt;
  | font-family:Calibri;mso-bidi-font-family:Calibri'>For purposes of these Terms:
  | (i) “<b>Content</b>” means text, graphics, images, music, software, audio,
  | video, works of authorship of any kind, and information or other materials that
  | are posted, generated, provided or otherwise made available through the
  | Services; and (ii) “<b>User Content</b>” means any Content that Account holders
  | (including you) provide to be made available through the Services. Content
  | includes without limitation User Content.<o:p></o:p></span></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan;
  | mso-outline-level:2'><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'><o:p>&nbsp;</o:p></span></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan;
  | mso-outline-level:2'><a name="_DV_M36"></a><b><span style='font-size:11.0pt;
  | font-family:Calibri;mso-bidi-font-family:Calibri'>Content Ownership,
  | Responsibility and Removal<o:p></o:p></span></b></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan'><a
  | name="_DV_M37"></a><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>Perceptual does not claim any ownership rights in
  | any Content that you make available through the Services and nothing in these
  | Terms will be deemed to restrict any rights that you may have to use and
  | exploit your User Content. Subject to the foregoing, Perceptual and its
  | licensors exclusively own all right, title and interest in and to the Services
  | and Content, including all associated intellectual property rights. You
  | acknowledge that the Services and Content are protected by copyright,
  | trademark, and other laws of the United States and foreign countries. You agree
  | not to remove, alter or obscure any copyright, trademark, service mark or other
  | proprietary rights notices incorporated in or accompanying the Services or
  | Content.<o:p></o:p></span></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan'><span
  | style='font-size:11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri'><o:p>&nbsp;</o:p></span></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan;
  | mso-outline-level:2'><a name="_DV_M38"></a><u><span style='font-size:11.0pt;
  | font-family:Calibri;mso-bidi-font-family:Calibri'>Rights in User Content
  | Granted by You<o:p></o:p></span></u></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan'><a
  | name="_DV_M39"></a><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>By making any User Content available through
  | Services you hereby grant to Perceptual a non-exclusive, transferable,
  | sublicenseable, worldwide, royalty-free license to use, copy, modify, create
  | derivative works based upon, distribute, publicly display, publicly perform and
  | distribute your User Content in connection with (i) </span><span lang=EN
  | style='font-size:11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri;
  | mso-ansi-language:EN'>operating and providing the Services and Content to you
  | and to other Account holders and (ii) operating and providing any other online
  | services and mobile applications made available by Perceptual. </span><span
  | style='font-size:11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri'><o:p></o:p></span></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan;
  | mso-outline-level:2'><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'><o:p>&nbsp;</o:p></span></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan;
  | mso-outline-level:2'><a name="_DV_M40"></a><span style='font-size:11.0pt;
  | font-family:Calibri;mso-bidi-font-family:Calibri'>You are solely responsible
  | for all your User Content. You represent and warrant that <span class=sub1><span
  | style='mso-ansi-font-size:11.0pt;mso-bidi-font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri;color:windowtext;font-weight:normal'>you own all
  | your User Content or you have all rights that are necessary to grant us the license
  | rights in your User Content under these Terms. You also represent and warrant
  | that neither </span></span>your User Content, nor your use and provision of
  | your User Content to be made available through the Services, nor any use of
  | your User Content by Perceptual on or through the Services will infringe,
  | misappropriate or violate a third party’s intellectual property rights, or
  | rights of publicity or privacy, or result in the violation of any applicable
  | law or regulation. <i><o:p></o:p></i></span></p>
  | 
  | <p class=NormalWeb style='margin:0in;margin-bottom:.0001pt;text-align:justify;
  | mso-pagination:widow-orphan'><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'><o:p>&nbsp;</o:p></span></p>
  | 
  | <p class=NormalWeb style='margin:0in;margin-bottom:.0001pt;text-align:justify;
  | mso-pagination:widow-orphan'><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>You <a name="_DV_C35"><span
  | class=DeltaViewInsertion><span style='color:windowtext;text-decoration:none;
  | text-underline:none'>may delete your Account via the “Settings” section of the
  | Services.<span style="mso-spacerun:yes">&nbsp; </span>If no such option is
  | available there, you can delete your account by sending a written request to
  | our online customer support team.<span style="mso-spacerun:yes">&nbsp;
  | </span>However, please note that if you choose to delete your Account,</span></span></a>
  | your User Content <a name="_DV_C37"><span class=DeltaViewInsertion><span
  | style='color:windowtext;text-decoration:none;text-underline:none'>will no longer
  | be viewable via the Services, but we will retain</span></span></a><a
  | name="_DV_M43"></a> copies of your User Content <a name="_DV_C39"><span
  | class=DeltaViewInsertion><span style='color:windowtext;text-decoration:none;
  | text-underline:none'>for our internal business purposes. </span></span></a><span
  | style="mso-spacerun:yes">&nbsp;</span>We are not responsible or liable for the
  | removal or deletion of (or the failure to remove or delete) any of your User
  | Content. <o:p></o:p></span></p>
  | 
  | <p class=NormalWeb style='margin:0in;margin-bottom:.0001pt;text-align:justify;
  | mso-pagination:widow-orphan'><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'><o:p>&nbsp;</o:p></span></p>
  | 
  | <p class=NormalWeb style='margin:0in;margin-bottom:.0001pt;text-align:justify;
  | mso-pagination:widow-orphan'><a name="_DV_M47"></a><u><span style='font-size:
  | 11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri'>Rights in Content
  | Granted by Perceptual<o:p></o:p></span></u></p>
  | 
  | <p class=NormalWeb style='margin:0in;margin-bottom:.0001pt;text-align:justify;
  | mso-pagination:widow-orphan'><a name="_DV_M48"></a><span style='font-size:11.0pt;
  | font-family:Calibri;mso-bidi-font-family:Calibri'>Subject to your compliance
  | with these Terms, Perceptual grants you a limited, non-exclusive,
  | non-transferable, non-sublicenseable license to download, view, copy, display
  | and print the Content solely in connection with your permitted use of the
  | Services. <b><o:p></o:p></b></span></p>
  | 
  | <p class=NormalWeb style='margin:0in;margin-bottom:.0001pt;text-align:justify;
  | mso-pagination:widow-orphan'><b><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'><o:p>&nbsp;</o:p></span></b></p>
  | 
  | <p class=NormalWeb style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
  | margin-left:0in;text-align:justify;mso-pagination:widow-orphan'><a
  | name="_DV_M49"></a><b><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>Rights and Terms for Apps<o:p></o:p></span></b></p>
  | 
  | <p class=NormalWeb style='margin:0in;margin-bottom:.0001pt;text-align:justify;
  | mso-pagination:widow-orphan'><a name="_DV_M50"></a><u><span style='font-size:
  | 11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri'>Rights in <a
  | name="_DV_C43"><span class=DeltaViewInsertion><u><span style='color:windowtext'>Apps</span></u></span></a><a
  | name="_DV_M51"></a> Granted by Perceptual<o:p></o:p></span></u></p>
  | 
  | <p class=NormalWeb style='margin:0in;margin-bottom:.0001pt;text-align:justify;
  | mso-pagination:widow-orphan;tab-stops:67.5pt'><a name="_DV_M52"></a><span
  | style='font-size:11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri'>Subject
  | to your compliance with these Terms, Perceptual grants you a limited
  | non-exclusive, non-transferable, non-sublicenseable license to download and
  | install a copy of the <a name="_DV_C45"><span class=DeltaViewInsertion><span
  | style='color:windowtext;text-decoration:none;text-underline:none'>Apps</span></span></a><a
  | name="_DV_M53"></a> on a mobile device or computer that you own or control and
  | to run such copy of the <a name="_DV_C47"><span class=DeltaViewInsertion><span
  | style='color:windowtext;text-decoration:none;text-underline:none'>Apps</span></span></a><a
  | name="_DV_M54"></a> solely for your own personal non-commercial purposes.
  | Perceptual reserves all rights in and to the <a name="_DV_C49"><span
  | class=DeltaViewInsertion><span style='color:windowtext;text-decoration:none;
  | text-underline:none'>Apps</span></span></a><a name="_DV_M55"></a> not expressly
  | granted to you under these Terms.<o:p></o:p></span></p>
  | 
  | <p class=NormalWeb style='margin:0in;margin-bottom:.0001pt;text-align:justify;
  | mso-pagination:widow-orphan'><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'><o:p>&nbsp;</o:p></span></p>
  | 
  | <p class=NormalWeb style='margin:0in;margin-bottom:.0001pt;text-align:justify;
  | mso-pagination:widow-orphan'><a name="_DV_M56"></a><u><span style='font-size:
  | 11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri'>Additional Terms for
  | App Store Apps<o:p></o:p></span></u></p>
  | 
  | <p class=NormalWeb style='margin:0in;margin-bottom:.0001pt;text-align:justify;
  | mso-pagination:widow-orphan;tab-stops:67.5pt'><a name="_DV_M57"></a><span
  | style='font-size:11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri'>If
  | you download the <a name="_DV_C51"><span class=DeltaViewInsertion><span
  | style='color:windowtext;text-decoration:none;text-underline:none'>Apps</span></span></a><a
  | name="_DV_M58"></a> through or from any app store or distribution platform
  | (like the Apple App Store or Google Play) where the <a name="_DV_C53"><span
  | class=DeltaViewInsertion><span style='color:windowtext;text-decoration:none;
  | text-underline:none'>Apps are</span></span></a><a name="_DV_M59"></a> made
  | available (each, an “<b>App Provider</b>”), then you acknowledge and agree that:<o:p></o:p></span></p>
  | 
  | <p class=NormalWeb style='margin:0in;margin-bottom:.0001pt;text-align:justify;
  | mso-pagination:widow-orphan;tab-stops:67.5pt'><span style='font-size:11.0pt;
  | font-family:Calibri;mso-bidi-font-family:Calibri'><o:p>&nbsp;</o:p></span></p>
  | 
  | <p class=MsoNormal style='margin-left:27.4pt;text-align:justify;text-indent:
  | -13.7pt;mso-pagination:widow-orphan;mso-list:l5 level1 lfo6'><a
  | name="_DV_M60"></a><![if !supportLists]><span style='font-family:Symbol;
  | mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol'><span
  | style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
  | </span></span></span><![endif]><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>These Terms are concluded between you and
  | Perceptual, and not with the App Provider, and that Perceptual (not the App
  | Provider), is solely responsible for the <a name="_DV_C55"><span
  | class=DeltaViewInsertion><span style='color:windowtext;text-decoration:none;
  | text-underline:none'>Apps</span></span></a><a name="_DV_M61"></a>.<o:p></o:p></span></p>
  | 
  | <p class=MsoNormal style='margin-left:27.4pt;text-align:justify;text-indent:
  | -13.7pt;mso-pagination:widow-orphan;mso-list:l5 level1 lfo6'><a
  | name="_DV_M62"></a><![if !supportLists]><span style='font-family:Symbol;
  | mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol'><span
  | style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
  | </span></span></span><![endif]><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>The App Provider has no obligation to furnish any
  | maintenance and support services with respect to the <a name="_DV_C57"><span
  | class=DeltaViewInsertion><span style='color:windowtext;text-decoration:none;
  | text-underline:none'>Apps</span></span></a><a name="_DV_M63"></a>.<o:p></o:p></span></p>
  | 
  | <p class=MsoNormal style='margin-left:27.4pt;text-align:justify;text-indent:
  | -13.7pt;mso-pagination:widow-orphan;mso-list:l5 level1 lfo6'><a
  | name="_DV_M64"></a><![if !supportLists]><span style='font-family:Symbol;
  | mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol'><span
  | style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
  | </span></span></span><![endif]><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>In the event of any failure of the <a
  | name="_DV_C59"><span class=DeltaViewInsertion><span style='color:windowtext;
  | text-decoration:none;text-underline:none'>Apps</span></span></a><a
  | name="_DV_M65"></a> to conform to any applicable warranty, you may notify the
  | App Provider, and the App Provider will refund the purchase price for the <a
  | name="_DV_C61"><span class=DeltaViewInsertion><span style='color:windowtext;
  | text-decoration:none;text-underline:none'>Apps</span></span></a><a
  | name="_DV_M66"></a> to you (if applicable) and, to the maximum extent permitted
  | by applicable law, the App Provider will have no other warranty obligation
  | whatsoever with respect to the <a name="_DV_C63"><span
  | class=DeltaViewInsertion><span style='color:windowtext;text-decoration:none;
  | text-underline:none'>Apps</span></span></a><a name="_DV_M67"></a>. Any other
  | claims, losses, liabilities, damages, costs or expenses attributable to any
  | failure to conform to any warranty will be the sole responsibility of
  | Perceptual.<o:p></o:p></span></p>
  | 
  | <p class=MsoNormal style='margin-left:27.4pt;text-align:justify;text-indent:
  | -13.7pt;mso-pagination:widow-orphan;mso-list:l5 level1 lfo6'><a
  | name="_DV_M68"></a><![if !supportLists]><span style='font-family:Symbol;
  | mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol'><span
  | style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
  | </span></span></span><![endif]><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>The App Provider is not responsible for
  | addressing any claims you have or any claims of any third party relating to the
  | <a name="_DV_C65"><span class=DeltaViewInsertion><span style='color:windowtext;
  | text-decoration:none;text-underline:none'>Apps</span></span></a><a
  | name="_DV_M69"></a> or your possession and/or use of the <a name="_DV_C67"><span
  | class=DeltaViewInsertion><span style='color:windowtext;text-decoration:none;
  | text-underline:none'>Apps</span></span></a><a name="_DV_M70"></a>, including,
  | but not limited to: (i) product liability claims; (ii) any claim that the App
  | fails to conform to any applicable legal or regulatory requirement; and (iii)
  | claims arising under consumer protection and/or similar legislation.<o:p></o:p></span></p>
  | 
  | <p class=MsoNormal style='margin-left:27.4pt;text-align:justify;text-indent:
  | -13.7pt;mso-pagination:widow-orphan;mso-list:l5 level1 lfo6'><a
  | name="_DV_M71"></a><![if !supportLists]><span style='font-family:Symbol;
  | mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol'><span
  | style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
  | </span></span></span><![endif]><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>In the event of any third-party claim that the <a
  | name="_DV_C69"><span class=DeltaViewInsertion><span style='color:windowtext;
  | text-decoration:none;text-underline:none'>Apps</span></span></a><a
  | name="_DV_M72"></a> or your possession and/or use of that <a name="_DV_C71"><span
  | class=DeltaViewInsertion><span style='color:windowtext;text-decoration:none;
  | text-underline:none'>Apps</span></span></a><a name="_DV_M73"></a> infringes
  | that third party’s intellectual property rights, Perceptual will be solely
  | responsible for the investigation, defense, settlement and discharge of any
  | such intellectual property infringement claim to the extent required by these Terms.<o:p></o:p></span></p>
  | 
  | <p class=MsoNormal style='margin-left:27.4pt;text-align:justify;text-indent:
  | -13.7pt;mso-pagination:widow-orphan;mso-list:l5 level1 lfo6'><a
  | name="_DV_M74"></a><![if !supportLists]><span style='font-family:Symbol;
  | mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol'><span
  | style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
  | </span></span></span><![endif]><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>The App Provider and its subsidiaries are
  | third-party beneficiaries of these Terms as related to your license of the <a
  | name="_DV_C73"><span class=DeltaViewInsertion><span style='color:windowtext;
  | text-decoration:none;text-underline:none'>Apps</span></span></a><a
  | name="_DV_M75"></a>, and that, upon your acceptance of the terms and conditions
  | of these Terms, the App Provider will have the right (and will be deemed to
  | have accepted the right) to enforce these Terms as related to your license of
  | the <a name="_DV_C75"><span class=DeltaViewInsertion><span style='color:windowtext;
  | text-decoration:none;text-underline:none'>Apps</span></span></a><a
  | name="_DV_M76"></a> against you as a third-party beneficiary thereof.<o:p></o:p></span></p>
  | 
  | <p class=MsoNormal style='margin-left:27.4pt;text-align:justify;text-indent:
  | -13.7pt;mso-pagination:widow-orphan;mso-list:l5 level1 lfo6'><a
  | name="_DV_M77"></a><![if !supportLists]><span style='font-family:Symbol;
  | mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol'><span
  | style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
  | </span></span></span><![endif]><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>You must also comply with all applicable
  | third-party terms of service when using the <a name="_DV_C77"><span
  | class=DeltaViewInsertion><span style='color:windowtext;text-decoration:none;
  | text-underline:none'>Apps</span></span></a><a name="_DV_M78"></a>.<o:p></o:p></span></p>
  | 
  | <p class=MsoNormal style='margin-left:27.4pt;text-align:justify;text-indent:
  | -13.7pt;mso-pagination:widow-orphan;mso-list:l5 level1 lfo6'><a
  | name="_DV_M79"></a><![if !supportLists]><span style='font-family:Symbol;
  | mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol'><span
  | style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
  | </span></span></span><![endif]><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>You agree to comply with all U.S. and foreign
  | export laws and regulations to ensure that neither the <a name="_DV_C79"><span
  | class=DeltaViewInsertion><span style='color:windowtext;text-decoration:none;
  | text-underline:none'>Apps</span></span></a><a name="_DV_M80"></a> nor any
  | technical data related thereto nor any direct product thereof <a name="_DV_C81"><span
  | class=DeltaViewInsertion><span style='color:windowtext;text-decoration:none;
  | text-underline:none'>are</span></span></a><a name="_DV_M81"></a> exported or
  | re-exported directly or indirectly in violation of, or used for any purposes
  | prohibited by, such laws or regulations. By using the <a name="_DV_C83"><span
  | class=DeltaViewInsertion><span style='color:windowtext;text-decoration:none;
  | text-underline:none'>Apps</span></span></a><a name="_DV_M82"></a> you represent
  | and warrant that: (i) you are not located in a country that is subject to a
  | U.S. Government embargo, or that has been designated by the U.S. Government as
  | a “terrorist supporting” country; and (ii) you are not listed on any U.S.
  | Government list of prohibited or restricted parties.<o:p></o:p></span></p>
  | 
  | <p class=NormalWeb style='margin:0in;margin-bottom:.0001pt;text-align:justify;
  | mso-pagination:widow-orphan;tab-stops:67.5pt'><span style='font-size:11.0pt;
  | font-family:Calibri;mso-bidi-font-family:Calibri'><o:p>&nbsp;</o:p></span></p>
  | 
  | <p class=NormalWeb style='margin:0in;margin-bottom:.0001pt;text-align:justify;
  | mso-pagination:widow-orphan'><a name="_DV_M83"></a><span style='font-size:11.0pt;
  | font-family:Calibri;mso-bidi-font-family:Calibri'>You may not: (i) copy, modify
  | or create derivative works based on the <a name="_DV_C85"><span
  | class=DeltaViewInsertion><span style='color:windowtext;text-decoration:none;
  | text-underline:none'>Apps</span></span></a><a name="_DV_M84"></a>; (ii)
  | distribute, transfer, sublicense, lease, lend or rent the <a name="_DV_C87"><span
  | class=DeltaViewInsertion><span style='color:windowtext;text-decoration:none;
  | text-underline:none'>Apps</span></span></a><a name="_DV_M85"></a> to any third
  | party; (iii) reverse engineer, decompile or disassemble the <a name="_DV_C89"><span
  | class=DeltaViewInsertion><span style='color:windowtext;text-decoration:none;
  | text-underline:none'>Apps</span></span></a><a name="_DV_M86"></a>; or (iv) make
  | the functionality of the <a name="_DV_C91"><span class=DeltaViewInsertion><span
  | style='color:windowtext;text-decoration:none;text-underline:none'>Apps</span></span></a><a
  | name="_DV_M87"></a> available to multiple users through any means.<o:p></o:p></span></p>
  | 
  | <p class=NormalWeb style='margin:0in;margin-bottom:.0001pt;text-align:justify;
  | mso-pagination:widow-orphan'><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'><o:p>&nbsp;</o:p></span></p>
  | 
  | <p class=NormalWeb style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
  | margin-left:0in;text-align:justify;mso-pagination:widow-orphan'><a
  | name="_DV_M88"></a><b><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>Prohibitions<o:p></o:p></span></b></p>
  | 
  | <p class=MsoNormal style='margin-bottom:3.0pt;text-align:justify;mso-pagination:
  | widow-orphan'><a name="_DV_M89"></a><span style='font-size:11.0pt;font-family:
  | Calibri;mso-bidi-font-family:Calibri'>You agree not to do any of the following:<o:p></o:p></span></p>
  | 
  | <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
  | margin-left:.25in;text-align:justify;text-indent:-.25in;mso-pagination:widow-orphan;
  | mso-list:l7 level1 lfo7'><a name="_DV_M90"></a><![if !supportLists]><span
  | style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
  | Symbol'><span style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  | </span></span></span><![endif]><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>Post, upload, publish, submit or transmit any Content
  | that: (i) infringes, misappropriates or violates a third party’s patent,
  | copyright, trademark, trade secret, moral rights or other intellectual property
  | rights, or rights of publicity or privacy; (ii) violates, or encourages any
  | conduct that would violate, any applicable law or regulation or would give rise
  | to civil liability; (iii) is fraudulent, false, misleading or deceptive; (iv)
  | is defamatory, obscene, pornographic, vulgar or offensive; (v) promotes
  | discrimination, bigotry, racism, hatred, harassment or harm against any
  | individual or group; (vi) is violent or threatening or promotes violence or
  | actions that are threatening to any person or entity; or (vii) promotes illegal
  | or harmful activities or substances. <a name="_DV_C93"><o:p></o:p></a></span></p>
  | 
  | <span style='mso-bookmark:_DV_C93'></span>
  | 
  | <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
  | margin-left:.25in;text-align:justify;text-indent:-.25in;mso-pagination:widow-orphan;
  | mso-list:l7 level1 lfo9'><a name="_DV_C94"><![if !supportLists]><span
  | style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
  | Symbol;color:blue'><span style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  | </span></span></span><![endif]><span class=DeltaViewInsertion><span
  | style='font-size:11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri;
  | color:windowtext;text-decoration:none;text-underline:none'>Use, copy or
  | distribute any User Content from another user of the Services outside of the
  | Services without permission from such user;</span></span></a><span
  | style='mso-bookmark:_DV_C94'></span><span style='font-size:11.0pt;font-family:
  | Calibri;mso-bidi-font-family:Calibri'><o:p></o:p></span></p>
  | 
  | <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
  | margin-left:.25in;text-align:justify;text-indent:-.25in;mso-pagination:widow-orphan;
  | mso-list:l7 level1 lfo7'><a name="_DV_M91"></a><![if !supportLists]><span
  | style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
  | Symbol'><span style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  | </span></span></span><![endif]><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>Use, display, mirror or frame the Services, or
  | any individual element within the Services, Perceptual’s name, any Perceptual
  | trademark, logo or other proprietary information, or the layout and design of
  | any page or form contained on a page, without Perceptual’s express written
  | consent;<o:p></o:p></span></p>
  | 
  | <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
  | margin-left:.25in;text-align:justify;text-indent:-.25in;mso-pagination:widow-orphan;
  | mso-list:l7 level1 lfo7'><a name="_DV_M92"></a><![if !supportLists]><span
  | style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
  | Symbol'><span style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  | </span></span></span><![endif]><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>Access, tamper with, or use non-public areas of
  | the Services, Perceptual’s computer systems, or the technical delivery systems
  | of Perceptual’s providers;<o:p></o:p></span></p>
  | 
  | <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
  | margin-left:.25in;text-align:justify;text-indent:-.25in;mso-pagination:widow-orphan;
  | mso-list:l7 level1 lfo7'><a name="_DV_M93"></a><![if !supportLists]><span
  | style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
  | Symbol'><span style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  | </span></span></span><![endif]><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>Attempt to probe, scan, or test the vulnerability
  | of any Perceptual system or network or breach any security or authentication
  | measures;<o:p></o:p></span></p>
  | 
  | <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
  | margin-left:.25in;text-align:justify;text-indent:-.25in;mso-pagination:widow-orphan;
  | mso-list:l7 level1 lfo7'><a name="_DV_M94"></a><![if !supportLists]><span
  | style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
  | Symbol'><span style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  | </span></span></span><![endif]><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>Avoid, bypass, remove, deactivate, impair,
  | descramble or otherwise circumvent any technological measure implemented by
  | Perceptual or any of Perceptual’s providers or any other third party (including
  | another user) to protect the Services or Content;<o:p></o:p></span></p>
  | 
  | <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
  | margin-left:.25in;text-align:justify;text-indent:-.25in;mso-pagination:widow-orphan;
  | mso-list:l7 level1 lfo7'><a name="_DV_M95"></a><![if !supportLists]><span
  | style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
  | Symbol'><span style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  | </span></span></span><![endif]><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>Attempt to access or search the Services or
  | Content or download Content from the Services through the use of any engine,
  | software, tool, agent, device or mechanism (including spiders, robots,
  | crawlers, data mining tools or the like) other than the software and/or search
  | agents provided by Perceptual or other generally available third party web
  | browsers;<o:p></o:p></span></p>
  | 
  | <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
  | margin-left:.25in;text-align:justify;text-indent:-.25in;mso-pagination:widow-orphan;
  | mso-list:l7 level1 lfo7'><a name="_DV_M96"></a><![if !supportLists]><span
  | style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
  | Symbol'><span style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  | </span></span></span><![endif]><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>Send any unsolicited or unauthorized advertising,
  | promotional materials, email, junk mail, spam, chain letters or other form of
  | solicitation;<o:p></o:p></span></p>
  | 
  | <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
  | margin-left:.25in;text-align:justify;text-indent:-.25in;mso-pagination:widow-orphan;
  | mso-list:l7 level1 lfo7'><a name="_DV_M97"></a><![if !supportLists]><span
  | style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
  | Symbol'><span style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  | </span></span></span><![endif]><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>Use any meta tags or other hidden text or
  | metadata utilizing a Perceptual trademark, logo URL or product name without
  | Perceptual’s express written consent;<o:p></o:p></span></p>
  | 
  | <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
  | margin-left:.25in;text-align:justify;text-indent:-.25in;mso-pagination:widow-orphan;
  | mso-list:l7 level1 lfo7'><a name="_DV_M98"></a><![if !supportLists]><span
  | style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
  | Symbol'><span style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  | </span></span></span><![endif]><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>Use the Services or Content for any commercial
  | purpose or the benefit of any third party or in any manner not permitted by
  | these Terms;<o:p></o:p></span></p>
  | 
  | <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
  | margin-left:.25in;text-align:justify;text-indent:-.25in;mso-pagination:widow-orphan;
  | mso-list:l7 level1 lfo7'><a name="_DV_M99"></a><![if !supportLists]><span
  | style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
  | Symbol'><span style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  | </span></span></span><![endif]><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>Forge any TCP/IP packet header or any part of the
  | header information in any email or newsgroup posting, or in any way use the
  | Services or Content to send altered, deceptive or false source-identifying
  | information;<o:p></o:p></span></p>
  | 
  | <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
  | margin-left:.25in;text-align:justify;text-indent:-.25in;mso-pagination:widow-orphan;
  | mso-list:l7 level1 lfo7'><a name="_DV_M100"></a><![if !supportLists]><span
  | style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
  | Symbol'><span style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  | </span></span></span><![endif]><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>Attempt to decipher, decompile, disassemble or
  | reverse engineer any of the software used to provide the Services or Content;<o:p></o:p></span></p>
  | 
  | <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
  | margin-left:.25in;text-align:justify;text-indent:-.25in;mso-pagination:widow-orphan;
  | mso-list:l7 level1 lfo7'><a name="_DV_M101"></a><![if !supportLists]><span
  | style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
  | Symbol'><span style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  | </span></span></span><![endif]><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>Interfere with, or attempt to interfere with, the
  | access of any user, host or network, including, without limitation, sending a
  | virus, overloading, flooding, spamming, or mail-bombing the Services;<o:p></o:p></span></p>
  | 
  | <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
  | margin-left:.25in;text-align:justify;text-indent:-.25in;mso-pagination:widow-orphan;
  | mso-list:l7 level1 lfo7'><a name="_DV_M102"></a><![if !supportLists]><span
  | style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
  | Symbol'><span style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  | </span></span></span><![endif]><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>Collect or store any personally identifiable
  | information from the Services from other users of the Services without their
  | express permission;<o:p></o:p></span></p>
  | 
  | <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
  | margin-left:.25in;text-align:justify;text-indent:-.25in;mso-pagination:widow-orphan;
  | mso-list:l7 level1 lfo7'><a name="_DV_M103"></a><![if !supportLists]><span
  | style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
  | Symbol;mso-bidi-font-weight:bold'><span style='mso-list:Ignore'>·<span
  | style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><![endif]><span
  | style='font-size:11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri'>Impersonate
  | or misrepresent your affiliation with any person or entity;<b><o:p></o:p></b></span></p>
  | 
  | <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
  | margin-left:.25in;text-align:justify;text-indent:-.25in;mso-pagination:widow-orphan;
  | mso-list:l7 level1 lfo7'><a name="_DV_M104"></a><![if !supportLists]><span
  | style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
  | Symbol;mso-bidi-font-weight:bold'><span style='mso-list:Ignore'>·<span
  | style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><![endif]><span
  | style='font-size:11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri'>Violate
  | any applicable law or regulation; or<b><o:p></o:p></b></span></p>
  | 
  | <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
  | margin-left:.25in;text-align:justify;text-indent:-.25in;mso-pagination:widow-orphan;
  | mso-list:l8 level1 lfo8'><a name="_DV_M105"></a><![if !supportLists]><span
  | style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
  | Symbol;mso-bidi-font-weight:bold'><span style='mso-list:Ignore'>·<span
  | style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><![endif]><span
  | style='font-size:11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri'>Encourage
  | or enable any other individual to do any of the foregoing.<b><o:p></o:p></b></span></p>
  | 
  | <h3 style='text-align:justify;text-indent:0in;mso-pagination:widow-orphan;
  | mso-list:none;tab-stops:.25in 45.0pt 63.0pt'><a name="_DV_M106"></a><span
  | lang=EN style='font-size:11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri;
  | color:windowtext;mso-ansi-language:EN'>Although we’re not obligated to monitor
  | access to or use of the Services or Content or to review or edit any Content,
  | we have the right to do so for the purpose of operating the Services, to ensure
  | compliance with these Terms, or to comply with applicable law or other legal
  | requirements. We reserve the right, but are not obligated, to remove or disable
  | access to any Content, at any time and without notice, including, but not
  | limited to, if we, at our sole discretion, consider any Content to be
  | objectionable or in violation of these Terms. We have the right to investigate
  | violations of these Terms or conduct that affects the Services. We may also
  | consult and cooperate with law enforcement authorities to prosecute users who
  | violate the law.<o:p></o:p></span></h3>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan;
  | mso-outline-level:2'><a name="_DV_M107"></a><b><span style='font-size:11.0pt;
  | font-family:Calibri;mso-bidi-font-family:Calibri'>DMCA/Copyright Policy<o:p></o:p></span></b></p>
  | 
  | <p class=NormalWeb style='margin:0in;margin-bottom:.0001pt;text-align:justify;
  | mso-pagination:widow-orphan'><a name="_DV_M108"></a><span style='font-size:
  | 11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri'>Perceptual respects
  | copyright law and expects its users to do the same. It is Perceptual’s policy
  | to terminate in appropriate circumstances Account holders or subscribers who
  | repeatedly infringe the rights of copyright holders. Please see Perceptual’s
  | Copyright Policy at http://www.skymob.co/legal/dmca, for further information.<o:p></o:p></span></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan'><b><span
  | style='font-size:11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri'><o:p>&nbsp;</o:p></span></b></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan'><a
  | name="_DV_M109"></a><b><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>Links to Third Party Websites or Resources<o:p></o:p></span></b></p>
  | 
  | <p class=NormalWeb style='margin:0in;margin-bottom:.0001pt;text-align:justify;
  | mso-pagination:widow-orphan'><a name="_DV_M110"></a><span style='font-size:
  | 11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri'>The Services and <a
  | name="_DV_C96"><span class=DeltaViewInsertion><span style='color:windowtext;
  | text-decoration:none;text-underline:none'>Apps</span></span></a><a
  | name="_DV_M111"></a> may contain links to </span><span lang=EN
  | style='font-size:11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri;
  | mso-ansi-language:EN'>third-party websites or resources</span><span
  | style='font-size:11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri'>. We
  | provide these links only as a convenience and are not responsible for the
  | content, </span><span lang=EN style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri;mso-ansi-language:EN'>products or services on or
  | available from those websites or resources </span><span style='font-size:11.0pt;
  | font-family:Calibri;mso-bidi-font-family:Calibri'>or links displayed on such
  | sites. You acknowledge sole responsibility for and assume all risk arising
  | from, your use </span><span lang=EN style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri;mso-ansi-language:EN'>of any third-party websites
  | or resources.<o:p></o:p></span></p>
  | 
  | <p class=NormalWeb style='margin:0in;margin-bottom:.0001pt;text-align:justify;
  | mso-pagination:widow-orphan'><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'><o:p>&nbsp;</o:p></span></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan'><a
  | name="_DV_M112"></a><b><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>Termination<o:p></o:p></span></b></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan'><a
  | name="_DV_M113"></a><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>We may terminate your access to and use of the
  | Services, at our sole discretion, at any time and without notice to you. </span><span
  | lang=EN style='font-size:11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri;
  | mso-ansi-language:EN'>You may cancel your Account at any time <a name="_DV_C98"><span
  | class=DeltaViewInsertion><span style='color:windowtext;text-decoration:none;
  | text-underline:none'>via the “Settings” section of the Services</span></span></a></span><span
  | style='mso-bookmark:_DV_C98'></span><a name="_DV_M114"></a><span
  | style='font-size:11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri'>.</span><span
  | lang=EN style='font-size:11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri;
  | mso-ansi-language:EN'> Upon any termination, discontinuation or cancellation of
  | Services or your Account, all provisions of these Terms which by their nature
  | should survive will survive, including, without limitation, ownership
  | provisions, warranty disclaimers, limitations of liability, and dispute
  | resolution provisions.<span style="mso-spacerun:yes">&nbsp; </span><o:p></o:p></span></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan'><span
  | style='font-size:11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri'><o:p>&nbsp;</o:p></span></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan;
  | mso-outline-level:2'><a name="_DV_M115"></a><b><span style='font-size:11.0pt;
  | font-family:Calibri;mso-bidi-font-family:Calibri'>Warranty Disclaimers<o:p></o:p></span></b></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan'><a
  | name="_DV_M116"></a><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri;text-transform:uppercase'>THE SERVICES AND CONTENT
  | ARE PROVIDED “AS IS,” WITHOUT WARRANTY OF ANY KIND.</span><span
  | style='font-size:11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri'> <span
  | style='text-transform:uppercase'>WITHOUT LIMITING THE FOREGOING, </span>WE
  | EXPLICITLY DISCLAIM ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
  | PARTICULAR PURPOSE, QUIET ENJOYMENT AND NON-INFRINGEMENT AND ANY WARRANTIES
  | ARISING OUT OF COURSE OF DEALING OR USAGE OF TRADE. We make no warranty that
  | the Services will meet your requirements or be available on an uninterrupted,
  | secure, or error-free basis. We make no warranty regarding the quality,
  | accuracy, timeliness, truthfulness, completeness or reliability of any Content</span><span
  | lang=EN style='font-size:11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri;
  | mso-ansi-language:EN'>.<o:p></o:p></span></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan'><span
  | lang=EN style='font-size:11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri;
  | mso-ansi-language:EN'><o:p>&nbsp;</o:p></span></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan'><a
  | name="_DV_M117"></a><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>YOU ARE SOLELY RESPONSIBLE FOR ALL OF YOUR <span
  | style='text-transform:uppercase'>COMMUNICATIONS AND INTERACTIONS </span>WITH
  | OTHER USERS OF THE SERVICES AND WITH OTHER PERSONS WITH WHOM YOU COMMUNICATE OR
  | INTERACT AS A RESULT OF YOUR USE OF THE SERVICES.<span
  | style="mso-spacerun:yes">&nbsp; </span>YOU UNDERSTAND THAT PERCEPTUAL DOES NOT
  | SCREEN OR INQUIRE INTO THE BACKGROUND OF ANY USERS OF THE SERVICES, NOR DOES
  | PERCEPTUAL MAKE ANY ATTEMPT TO VERIFY THE STATEMENTS OF USERS OF THE SERVICES.<span
  | style="mso-spacerun:yes">&nbsp; </span>PERCEPTUAL MAKES NO REPRESENTATIONS OR
  | WARRANTIES AS TO THE CONDUCT OF USERS OF THE SERVICES OR THEIR COMPATIBILITY
  | WITH ANY CURRENT OR FUTURE USERS OF THE SERVICES.<span
  | style="mso-spacerun:yes">&nbsp; </span>YOU AGREE TO TAKE REASONABLE PRECAUTIONS
  | IN ALL <span style='text-transform:uppercase'>COMMUNICATIONS AND INTERACTIONS </span>WITH
  | OTHER USERS OF THE SERVICES AND<span style='text-transform:uppercase'> </span>WITH
  | OTHER PERSONS WITH WHOM YOU COMMUNICATE OR INTERACT AS A RESULT OF YOUR USE OF
  | THE SERVICES, PARTICULARLY IF YOU DECIDE TO MEET OFFLINE OR IN PERSON.<o:p></o:p></span></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan'><b><span
  | style='font-size:11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri'><o:p>&nbsp;</o:p></span></b></p>
  | 
  | <p class=NormalWeb style='margin:0in;margin-bottom:.0001pt;text-align:justify;
  | mso-pagination:widow-orphan'><a name="_DV_M118"></a><b><span style='font-size:
  | 11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri'>Indemnity<o:p></o:p></span></b></p>
  | 
  | <p class=NormalWeb style='margin:0in;margin-bottom:.0001pt;text-align:justify;
  | mso-pagination:widow-orphan'><a name="_DV_M119"></a><span style='font-size:
  | 11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri'>You will indemnify and
  | hold harmless Perceptual and its officers, directors, employee and agents, from
  | and against </span><span lang=EN style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri;mso-ansi-language:EN'>any claims, disputes,
  | demands, liabilities, damages, losses, and costs and expenses, including,
  | without limitation, reasonable legal and accounting fees, arising out of or in
  | any way connected with (i) your access to or use of the Services or Content,
  | (ii) your User Content, or (iii) your violation of these Terms.</span><span
  | style='font-size:11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri'><o:p></o:p></span></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan'><b><span
  | style='font-size:11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri'><o:p>&nbsp;</o:p></span></b></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan'><a
  | name="_DV_M120"></a><b><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>Limitation of Liability</span></b><span
  | style='font-size:11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri'><o:p></o:p></span></p>
  | 
  | <p class=NormalWeb style='margin:0in;margin-bottom:.0001pt;text-align:justify;
  | mso-pagination:widow-orphan'><a name="_DV_M121"></a><span style='font-size:
  | 11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri;text-transform:uppercase'>NEITHER
  | PERCEPTUAL NOR ANY THIRD PARTY INVOLVED IN CREATING, PRODUCING, OR DELIVERING
  | THE SERVICES OR CONTENT WILL BE LIABLE FOR ANY INCIDENTAL, SPECIAL, EXEMPLARY
  | OR CONSEQUENTIAL DAMAGES,</span><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'> INCLUDING LOST PROFITS, LOSS OF DATA OR
  | GOODWILL, SERVICE INTERRUPTION, COMPUTER DAMAGE OR SYSTEM FAILURE OR THE COST
  | OF SUBSTITUTE SERVICES <span style='text-transform:uppercase'>ARISING OUT OF OR
  | IN CONNECTION WITH THESE TERMS OR FROM THE USE OF OR INABILITY TO USE THE
  | SERVICES OR CONTENT, WHETHER BASED ON WARRANTY, CONTRACT, TORT (INCLUDING
  | NEGLIGENCE), PRODUCT LIABILITY OR ANY OTHER LEGAL THEORY, AND WHETHER OR NOT
  | PERCEPTUAL HAS BEEN INFORMED OF THE POSSIBILITY OF SUCH DAMAGE, EVEN IF A
  | LIMITED REMEDY SET FORTH HEREIN IS FOUND TO HAVE FAILED OF ITS ESSENTIAL
  | PURPOSE</span>. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF
  | LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, SO THE ABOVE LIMITATION MAY
  | NOT APPLY TO YOU.<o:p></o:p></span></p>
  | 
  | <p class=NormalWeb style='margin:0in;margin-bottom:.0001pt;text-align:justify;
  | mso-pagination:widow-orphan'><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'><o:p>&nbsp;</o:p></span></p>
  | 
  | <p class=NormalWeb style='margin:0in;margin-bottom:.0001pt;text-align:justify;
  | mso-pagination:widow-orphan'><a name="_DV_M122"></a><span style='font-size:
  | 11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri;text-transform:uppercase'>IN
  | NO EVENT WILL PERCEPTUAL’S TOTAL LIABILITY ARISING OUT OF OR IN CONNECTION WITH</span><span
  | style='font-size:11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri'>
  | THESE TERMS OR FROM THE USE OF OR INABILITY TO USE <span style='text-transform:
  | uppercase'>THE SERVICES OR CONTENT </span>EXCEED <a name="_DV_C100"><span
  | class=DeltaViewInsertion><span style='color:windowtext;text-decoration:none;
  | text-underline:none'>THE AMOUNTS YOU HAVE PAID TO PERCEPTUAL FOR USE OF THE
  | SERVICES IN THE TWELVE (12) MONTH PERIOD PRIOR TO THE CLAIM GIVING RISE TO
  | LIABILITY, IF YOU HAVE MADE ANY PAYMENTS TO PERCEPTUAL FOR USE OF THE SERVICES
  | OR </span></span></a><a name="_DV_M123"></a>ONE HUNDRED DOLLARS ($100)<a
  | name="_DV_C101"><span class=DeltaViewInsertion><span style='color:windowtext;
  | text-decoration:none;text-underline:none'>, IF YOU HAVE NOT MADE ANY PAYMENTS
  | TO PERCEPTUAL FOR USE OF THE SERVICES, AS APPLICABLE</span></span></a><a
  | name="_DV_M124"></a>. THE LIMITATIONS OF DAMAGES SET FORTH ABOVE ARE
  | FUNDAMENTAL ELEMENTS OF THE BASIS OF THE BARGAIN BETWEEN PERCEPTUAL AND YOU. <o:p></o:p></span></p>
  | 
  | <h1 style='margin-bottom:6.0pt;text-align:justify;mso-pagination:widow-orphan;
  | mso-list:none'><a name="_DV_M125"></a><b><span lang=X-NONE style='font-size:
  | 11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri;color:windowtext'>Dispute
  | Resolution</span></b><b><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri;color:windowtext;mso-ansi-language:EN-US'><o:p></o:p></span></b></h1>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan'><a
  | name="_DV_M126"></a><u><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>Governing Law<o:p></o:p></span></u></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan'><a
  | name="_DV_M127"></a><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>These Terms and any action related thereto will
  | be governed by the laws of the State of California without regard to its
  | conflict of laws provisions.<o:p></o:p></span></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan'><u><span
  | style='font-size:11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri'><o:p><span
  |  style='text-decoration:none'>&nbsp;</span></o:p></span></u></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan'><a
  | name="_DV_M128"></a><u><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>Agreement to Arbitrate<o:p></o:p></span></u></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan'><a
  | name="_DV_M129"></a><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>You and Perceptual agree that<em><span
  | style='mso-ansi-font-size:11.0pt;mso-bidi-font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri;font-style:normal'> any dispute, claim or
  | controversy arising out of or relating to these Terms or the breach,
  | termination, enforcement, interpretation or validity thereof or the use of the
  | Services or Content (collectively, “<b>Disputes</b>”) will be settled by
  | binding arbitration, except that each party retains the right: (i) to bring an
  | individual action in small claims court and (ii) to seek </span></em>injunctive
  | or other equitable relief in a court of competent jurisdiction to prevent the
  | actual or threatened infringement, misappropriation or violation of a party’s
  | copyrights, trademarks, trade secrets, patents or other intellectual property
  | rights (the action described in the foregoing clause (ii), an “<b>IP Protection
  | Action</b>”). The exclusive jurisdiction and venue of any IP Protection Action
  | will be the state and federal courts located in the Northern District of
  | California and each of the parties hereto waives any objection to jurisdiction
  | and venue in such courts. <em><b><span style='mso-ansi-font-size:11.0pt;
  | mso-bidi-font-size:11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri;
  | font-style:normal'>You acknowledge and agree that you and Perceptual</span></b></em><b>
  | are each waiving the right to a trial by jury or to participate as a plaintiff
  | or class member in any purported class action or representative proceeding.</b>
  | Further, unless both you and Perceptual otherwise agree in writing, the
  | arbitrator may not consolidate more than one person's claims, and may not
  | otherwise preside over any form of any class or representative proceeding. If
  | this specific paragraph is held unenforceable, then the entirety of this
  | “Dispute Resolution” section will be deemed void. Except as provided in the
  | preceding sentence, this “Dispute Resolution” section will survive any
  | termination of these Terms.<o:p></o:p></span></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan'><em><span
  | style='font-size:11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri;
  | font-style:normal'><o:p>&nbsp;</o:p></span></em></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan;
  | tab-stops:.25in'><a name="_DV_M130"></a><em><u><span style='font-size:11.0pt;
  | font-family:Calibri;mso-bidi-font-family:Calibri;font-style:normal'>Arbitration
  | Rules<o:p></o:p></span></u></em></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan;
  | tab-stops:.25in'><a name="_DV_M131"></a><em><span style='font-size:11.0pt;
  | font-family:Calibri;mso-bidi-font-family:Calibri;font-style:normal'>The
  | arbitration will be administered by </span></em><span style='font-size:11.0pt;
  | font-family:Calibri;mso-bidi-font-family:Calibri'>the American Arbitration
  | Association (“<b>AAA</b>”<b>) </b><em><span style='mso-ansi-font-size:11.0pt;
  | mso-bidi-font-size:11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri;
  | font-style:normal'>in accordance with the </span></em>Commercial Arbitration
  | Rules and the Supplementary Procedures for Consumer Related Disputes (the “<b>AAA
  | Rules</b>”) then in effect, except as modified by this “Dispute Resolution”
  | section. (The AAA Rules are available at <span class=MsoHyperlink><span
  | style='mso-ansi-font-size:11.0pt;mso-bidi-font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri;color:windowtext;text-decoration:none;text-underline:
  | none'><a href="http://www.adr.org/arb_med"><span style='mso-ansi-font-size:
  | 11.0pt;mso-bidi-font-size:11.0pt;mso-ascii-font-family:Calibri;mso-hansi-font-family:
  | Calibri;mso-bidi-font-family:Calibri;color:windowtext;text-decoration:none;
  | text-underline:none'>www.adr.org/arb_med</span></a></span></span><a
  | name="_DV_M132"></a> or by calling the AAA at 1-800-778-7879.) The Federal
  | Arbitration Act will govern the interpretation and enforcement of this Section.<o:p></o:p></span></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan;
  | tab-stops:.25in'><u><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'><o:p><span style='text-decoration:none'>&nbsp;</span></o:p></span></u></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan'><a
  | name="_DV_M133"></a><u><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>Arbitration Process<o:p></o:p></span></u></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan'><a
  | name="_DV_M134"></a><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>A party who desires to initiate arbitration must
  | provide the other party with a written Demand for Arbitration as specified in
  | the AAA Rules. (The AAA provides a form Demand for Arbitration at <span
  | class=MsoHyperlink><span style='mso-ansi-font-size:11.0pt;mso-bidi-font-size:
  | 11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri;color:windowtext;
  | text-decoration:none;text-underline:none'><a
  | href="http://www.adr.org/aaa/ShowPDF?doc=ADRSTG_004175"><span style='mso-ansi-font-size:
  | 11.0pt;mso-bidi-font-size:11.0pt;mso-ascii-font-family:Calibri;mso-hansi-font-family:
  | Calibri;mso-bidi-font-family:Calibri;color:windowtext;text-decoration:none;
  | text-underline:none'>http://www.adr.org/aaa/ShowPDF?doc=ADRSTG_004175</span></a></span></span><a
  | name="_DV_M135"></a> and a separate form for California residents at <span
  | class=MsoHyperlink><span style='mso-ansi-font-size:11.0pt;mso-bidi-font-size:
  | 11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri;color:windowtext;
  | text-decoration:none;text-underline:none'><a
  | href="http://www.adr.org/aaa/ShowPDF?doc=ADRSTG_015822" target="_blank"><span
  | style='mso-ansi-font-size:11.0pt;mso-bidi-font-size:11.0pt;mso-ascii-font-family:
  | Calibri;mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:windowtext;
  | text-decoration:none;text-underline:none'>http://www.adr.org/aaa/ShowPDF?doc=ADRSTG_015822</span></a></span></span><a
  | name="_DV_M136"></a>.) The arbitrator will be either a retired judge or an
  | attorney licensed to practice law and will be selected by the parties from the
  | AAA’s roster of arbitrators. If the parties are unable to agree upon an
  | arbitrator within seven (7) days of delivery of the Demand for Arbitration,
  | then the AAA will appoint the arbitrator in accordance with the AAA Rules.<o:p></o:p></span></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan;
  | tab-stops:.25in'><span style='font-size:11.0pt;font-family:Calibri;mso-bidi-font-family:
  | Calibri'><o:p>&nbsp;</o:p></span></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan;
  | tab-stops:.25in'><a name="_DV_M137"></a><u><span style='font-size:11.0pt;
  | font-family:Calibri;mso-bidi-font-family:Calibri'>Arbitration Location and
  | Procedure<o:p></o:p></span></u></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan;
  | tab-stops:.25in'><a name="_DV_M138"></a><span style='font-size:11.0pt;
  | font-family:Calibri;mso-bidi-font-family:Calibri'>Unless you and Perceptual
  | otherwise agree, the arbitration will be conducted in the county where you
  | reside. If your claim does not exceed $10,000, then the arbitration will be
  | conducted solely on the basis of the documents that you and Perceptual submit
  | to the arbitrator, unless you request a hearing or the arbitrator determines
  | that a hearing is necessary. If your claim exceeds $10,000, your right to a
  | hearing will be determined by the AAA Rules. Subject to the AAA Rules, the
  | arbitrator will have the discretion to direct a reasonable exchange of
  | information by the parties, consistent with the expedited nature of the
  | arbitration.<o:p></o:p></span></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan;
  | tab-stops:.25in'><span style='font-size:11.0pt;font-family:Calibri;mso-bidi-font-family:
  | Calibri'><o:p>&nbsp;</o:p></span></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan;
  | tab-stops:.25in'><a name="_DV_M139"></a><u><span style='font-size:11.0pt;
  | font-family:Calibri;mso-bidi-font-family:Calibri'>Arbitrator’s Decision<o:p></o:p></span></u></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan;
  | tab-stops:.25in'><a name="_DV_M140"></a><span style='font-size:11.0pt;
  | font-family:Calibri;mso-bidi-font-family:Calibri'>The arbitrator will render an
  | award within the time frame specified in the AAA Rules. The arbitrator’s
  | decision will include the essential findings and conclusions upon which the
  | arbitrator based the award. <span class=s7078511><span style='mso-ansi-font-size:
  | 11.0pt;mso-bidi-font-size:11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri'>J</span></span>udgment
  | on the arbitration award may be entered in any court having jurisdiction
  | thereof. The arbitrator’s award of damages must be consistent with the terms of
  | the “Limitation of Liability” section above as to the types and amounts of
  | damages for which a party may be held liable. The arbitrator may award
  | declaratory or injunctive relief only in favor of the claimant and only to the
  | extent necessary to provide relief warranted by the claimant’s individual
  | claim. <span class=s7078511><span style='mso-ansi-font-size:11.0pt;mso-bidi-font-size:
  | 11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri'>If you prevail in
  | arbitration you will be entitled to an award of attorneys’ fees and expenses,
  | to the extent provided under applicable law. </span></span>Perceptual will not
  | seek, and hereby waives all rights it may have under applicable law to recover,
  | attorneys’ fees and expenses if it prevails in arbitration.<o:p></o:p></span></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan'><span
  | style='font-size:11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri'><o:p>&nbsp;</o:p></span></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan'><a
  | name="_DV_M141"></a><u><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>Fees<o:p></o:p></span></u></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan'><a
  | name="_DV_M142"></a><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>Your responsibility to pay any AAA filing,
  | administrative and arbitrator fees will be solely as set forth in the AAA
  | Rules. However, if your claim for damages does not exceed $75,000, Perceptual
  | will pay all such fees unless the arbitrator finds that either the substance of
  | your claim or the relief sought in your Demand for Arbitration was frivolous or
  | was brought for an improper purpose (as measured by the standards set forth in
  | Federal Rule of Civil Procedure 11(b)).<o:p></o:p></span></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan'><u><span
  | style='font-size:11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri'><o:p><span
  |  style='text-decoration:none'>&nbsp;</span></o:p></span></u></p>
  | 
  | <p class=NormalWeb style='margin:0in;margin-bottom:.0001pt;text-align:justify;
  | mso-pagination:widow-orphan'><a name="_DV_M143"></a><u><span style='font-size:
  | 11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri'>Changes<o:p></o:p></span></u></p>
  | 
  | <p class=NormalWeb style='margin:0in;margin-bottom:.0001pt;text-align:justify;
  | mso-pagination:widow-orphan'><a name="_DV_M144"></a><span style='font-size:
  | 11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri'>Notwithstanding the
  | provisions of the “Modification” section above, if Perceptual changes this
  | “Dispute Resolution” section after the date you first accepted these Terms (or
  | accepted any subsequent changes to these Terms), you may reject any such change
  | by sending us written notice (including by email to support@skymob.com) within
  | 30 days of the date such change became effective, as indicated in the “Last
  | Updated” date above or in the date of Perceptual’s email to you notifying you
  | of such change. By rejecting any change, you are agreeing that you will
  | arbitrate any Dispute between you and Perceptual in accordance with the
  | provisions of this “Dispute Resolution” section as of the date you first
  | accepted these Terms (or accepted any subsequent changes to these Terms).<o:p></o:p></span></p>
  | 
  | <p class=NormalWeb style='margin:0in;margin-bottom:.0001pt;text-align:justify;
  | mso-pagination:widow-orphan'><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'><o:p>&nbsp;</o:p></span></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan'><a
  | name="_DV_M145"></a><b><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>General Terms<o:p></o:p></span></b></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan'><a
  | name="_DV_M146"></a><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>These Terms constitute the entire and exclusive
  | understanding and agreement between Perceptual and you regarding the Services
  | and Content, and these Terms supersede and replace any and all prior oral or
  | written understandings or agreements between Perceptual and you regarding the
  | Services and Content. If for any reason a court of competent jurisdiction finds
  | any provision of these Terms invalid or unenforceable, that provision will be
  | enforced to the maximum extent permissible and the other provisions of these
  | Terms will remain in full force and effect.<o:p></o:p></span></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan'><span
  | style='font-size:11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri'><o:p>&nbsp;</o:p></span></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan'><a
  | name="_DV_M147"></a><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>You may not assign or transfer these Terms, by
  | operation of law or otherwise, without Perceptual’s prior written consent. Any
  | attempt by you to assign or transfer these Terms, without such consent, will be
  | null and of no effect. Perceptual may freely assign or transfer these Terms
  | without restriction. Subject to the foregoing, these Terms will bind and inure
  | to the benefit of the parties, their successors and permitted assigns.<o:p></o:p></span></p>
  | 
  | <p class=MsoBodyText style='margin-bottom:0in;margin-bottom:.0001pt;text-indent:
  | 0in;mso-pagination:widow-orphan'><span style='font-size:11.0pt;font-family:
  | Calibri;mso-bidi-font-family:Calibri'><o:p>&nbsp;</o:p></span></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan'><a
  | name="_DV_M148"></a><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'>Any notices or other communications provided by
  | Perceptual under these Terms, including those regarding modifications to these
  | Terms, will be given by Perceptual: (i) via email; or (ii) by posting to the
  | Site or <a name="_DV_C105"><span class=DeltaViewInsertion><span
  | style='color:windowtext;text-decoration:none;text-underline:none'>Apps</span></span></a><a
  | name="_DV_M149"></a>. For notices made by e-mail, the date of receipt will be
  | deemed the date on which such notice is transmitted.<o:p></o:p></span></p>
  | 
  | <p class=NormalWeb style='margin:0in;margin-bottom:.0001pt;text-align:justify;
  | mso-pagination:widow-orphan'><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'><o:p>&nbsp;</o:p></span></p>
  | 
  | <h3 style='text-align:justify;text-indent:0in;mso-pagination:widow-orphan;
  | mso-list:none;tab-stops:.25in 45.0pt 63.0pt'><a name="_DV_M150"></a><span
  | lang=X-NONE style='font-size:11.0pt;font-family:Calibri;mso-bidi-font-family:
  | Calibri;color:windowtext'>Perceptual’s failure to enforce any right or
  | provision of these Terms will not be considered a waiver of those rights. The
  | waiver of any such right or provision will be effective only if in writing and
  | signed by a duly authorized representative of Perceptual. Except as expressly set
  | forth in these Terms, the exercise by either party of any of its remedies under
  | these Terms will be without prejudice to its other remedies under these Terms
  | or otherwise.<o:p></o:p></span></h3>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan;
  | mso-outline-level:2'><b><span style='font-size:11.0pt;font-family:Calibri;
  | mso-bidi-font-family:Calibri'><o:p>&nbsp;</o:p></span></b></p>
  | 
  | <p class=MsoNormal style='text-align:justify;mso-pagination:widow-orphan;
  | mso-outline-level:2'><a name="_DV_M151"></a><b><span style='font-size:11.0pt;
  | font-family:Calibri;mso-bidi-font-family:Calibri'>Contact Information<o:p></o:p></span></b></p>
  | 
  | <p class=MsoBodyText style='margin-bottom:0in;margin-bottom:.0001pt;text-align:
  | justify;text-indent:0in;mso-pagination:widow-orphan'><a name="_DV_M152"></a><span
  | style='font-size:11.0pt;font-family:Calibri;mso-bidi-font-family:Calibri'>If
  | you have any questions about these Terms or the Services, please contact
  | Perceptual at 206 S 4<sup>th</sup> St, Philadelphia, PA 19106 or <a
  | href="mailto:support@perceptualnet.com"><span style='mso-ansi-font-size:11.0pt;
  | mso-bidi-font-size:11.0pt;mso-ascii-font-family:Calibri;mso-hansi-font-family:
  | Calibri;mso-bidi-font-family:Calibri'>support@perceptualnet.com</span></a><a
  | name="_DV_X0">. <o:p></o:p></a></span></p>
