{{#if App.isLoggingIn}}
  <p class='empty-content-page'>Loading...</p>
{{else}}
  <div class='navbar'>
    <div class='navbar-centered-content'>
      <div class='brand'>
        {{#link-to 'index'}}
          <img src='{{webServerUrl '/images/logo.png'}}' alt='{{unbound App.title}}' style='width: 49px; height: auto;'>
        {{/link-to}}
      </div>
      {{#unless isLoggedIn}}
        <div class='pull-right'>
          {{#link-to 'login' classNames='nav-link'}}Log In{{/link-to}}
        </div>
      {{/unless}}
      <div class='clearfix'></div>
    </div>
  </div>

  {{! The one and only facebook root element. }}
  <div id='fb-root'></div>

  {{outlet}}

  {{outlet 'settingsModal'}}
  {{outlet 'modal'}}
{{/if}}
