{{#if App.isLoggingIn}}
  <p class='empty-content-page'>Loading...</p>
{{else}}
  <div class='navbar'>
    <div class='navbar-centered-content'>
      <div class='brand'>
        {{#link-to 'index'}}
          <img id='brand-image-wide' src='{{webServerUrl 'imageLogoWide'}}' alt='{{unbound App.title}}' id='brand-image-wide' style='width: 190px; height: auto;'>
        {{/link-to}}
      </div>
      {{#unless isLoggedIn}}
        <div class='pull-right'>
          {{#if App.showRoomKeyForm}}
            {{room-key-form submitRoomKey='submitRoomKey' roomKeyText=App.roomKeyTextToShow}}
          {{/if}}
          {{#link-to 'login' classNames='nav-link'}}Log In{{/link-to}}
          {{#unless App.showRoomKeyForm}}
            <a href='/signup' class='nav-link signup-nav-link' {{action 'goToSignUp'}}>Sign Up</a>
          {{/unless}}
        </div>
      {{/unless}}
      <div class='clearfix'></div>
    </div>
  </div>

  {{! The one and only facebook root element. }}
  <div id='fb-root'></div>

  {{outlet}}

  {{outlet 'settingsModal'}}
  {{outlet 'modal'}}
{{/if}}
