{{#if App.isLoggingIn}}
  <p class='empty-content-page'>Loading...</p>
{{else}}
  <div class='navbar'>
    <div class='navbar-centered-content'>
      <div class='brand'>
        {{#link-to 'index'}}
          <img id='brand-image-wide' src='{{webServerUrl 'imageLogoWide'}}' alt='{{unbound App.title}}' id='brand-image-wide' style='width: 190px; height: auto;'>
        {{/link-to}}
      </div>
      {{#unless isLoggedIn}}
        <div class='right-nav-links'>
          {{#link-to 'login' classNames='nav-link'}}Log In{{/link-to}}
          {{#if App.showRoomKeyForm}}
            {{room-key-form submitRoomKey='submitRoomKey' roomKeyText=App.roomKeyTextToShow}}
          {{/if}}
        </div>
      {{/unless}}
      <div class='clearfix'></div>
    </div>
  </div>

  {{! The one and only facebook root element. }}
  <div id='fb-root'></div>

  {{outlet}}

  {{outlet 'settingsModal'}}
  {{outlet 'modal'}}
{{/if}}

<div class='chrome-permission-bar-callout' {{action 'dismissChromePermissionCallout' on='doubleClick' target=view}}>
  <div style='margin: 150px auto 10px'>Allow desktop notifications.</div>
  <div class='subtext'>You can always change this later.</div>
  <div class='chrome-permission-arrow'></div>
</div>
