<div class='page-overlay hidden create-room-overlay'>
  {{#with view as createRoomView}}
    <div class='modal form modal-form create-room-form'>
      <span class='close' {{action 'hideCreateRoomDialog'}}>&times;</span>
      <div class='title'>Create a New Room</div>
      {{#if createRoomView.createGroupErrorMessage}}
        <div class='alert alert-error'>{{createRoomView.createGroupErrorMessage}}</div>
      {{/if}}
      <div class='control-group add-members-control-group'>
        <div class='group-title'>Who would you like in your room?</div>
        <form {{action 'addUsersToGroupLocally' target=createRoomView on='submit'}}>
          <div class='add-text-visual'>
            {{#if createRoomView.showPlaceholder}}
              <div class='background-placeholder'>
                Names or Emails separated by commas (optional)
              </div>
            {{/if}}
            {{#each user in createRoomView.membersToAdd}}
              <span class='add-members-list-item'>
                <span class='name'>{{user.name}}</span>
                <span class='remove' {{action 'removeMember' user target=createRoomView}} title='Remove'>&times;</span>
              </span>
            {{/each}}
            <input type='text' class='create-room-add-text' autocomplete='off'
              autocapitalize='off'>
            <div class='clearfix'></div>
          </div>
        </form>
        {{user-autocomplete viewName='createRoomUserAutocompleteView'
          classNames='add-user-autocomplete'
          inputSelector='.create-room-add-text'
          positionRelativeToSelector='.add-text-visual'
          users=arrangedContacts
          showAll=false
          useAtSignPrefix=false
          maxSuggestions=10
          showCurrentUser=false
          matchText=createRoomView.addUserSuggestMatchText
          suggestions=createRoomView.addUserSuggestions
          isShowing=createRoomView.isAddUserSuggestionsShowing
          didSelectSuggestion='didSelectAddUserSuggestion'
          target=createRoomView}}

      </div>

      <div class='control-group'>
        <div class='control-label'>
          <label class='label'>Room Name:</label>
          <div class='help-text'>You can change this later.</div>
        </div>
        <form {{action 'createRoom' target=createRoomView on='submit'}} class='room-name-container'>
          {{input type='text' value=createRoomView.newRoomName classNames='room-name-text'
            autocomplete='off' placeholder='Room Name'}}
        </form>
        <div class='clearfix'></div>
      </div>
      <div class='form-actions'>
        <button type='button' class='app-btn btn-green btn-flat create-room-button'
          {{action 'createRoom' target=createRoomView}}
          {{bind-attr disabled='createRoomView.isCreateGroupUiDisabled'}}>Create Room</button>
      </div>
    </div>
  {{/with}}
</div>
