<div class='page-overlay hidden create-room-overlay'>
  {{#with view as createRoomView}}
    <div class='modal form modal-form create-room-form'>
      <span class='close' {{action 'hideCreateRoomDialog'}}>&times;</span>
      <div class='title'>Create a New Room</div>
      {{#if createRoomView.createGroupErrorMessage}}
        <div class='alert alert-error'>{{createRoomView.createGroupErrorMessage}}</div>
      {{/if}}
      <div class='control-group add-members-control-group'>
        <div class='group-title'>Who would you like in your room?</div>
        {{multiselect-user-autocomplete viewName='createRoomUserMultiselectView'
          placeholderText="Names or Emails separated by commas (optional)"
          users=arrangedContacts
          maxSuggestions=10
          showCurrentUser=false
          areSuggestionsShowing=createRoomView.isAddUserSuggestionsShowing
          userErrorMessage=createRoomView.createGroupErrorMessage
          sendActionsTargetIsView=true}}
      </div>

      <div class='control-group'>
        <div class='control-label'>
          <label class='label'>Room Name:</label>
          <div class='help-text'>You can change this later.</div>
        </div>
        <form {{action 'createRoom' target=createRoomView on='submit'}} class='room-name-container'>
          {{input type='text' value=createRoomView.newRoomName classNames='room-name-text'
            autocomplete='off'}}
        </form>
        <div class='clearfix'></div>
      </div>
      <div class='form-actions'>
        <button type='button' class='app-btn btn-green btn-flat create-room-button'
          {{action 'createRoom' target=createRoomView}}
          {{bind-attr disabled='createRoomView.isCreateGroupUiDisabled'}}>Create Room</button>
      </div>
    </div>
  {{/with}}
</div>
