{{#if hasSentResetEmail}}

  <div class='empty-content-page'>
    <p>
      An email with instructions will be sent shortly.
    </p>
    <p>
      {{#link-to 'index'}}Back Home{{/link-to}}
    </p>
  </div>

{{else}}

  <form class='form forgot-password-form' {{action 'sendPasswordResetEmail' on='submit'}}>
    <div class='title'>Forgot Password</div>

    {{#if errorMessage}}
      <div class='alert alert-error'>{{errorMessage}}</div>
    {{/if}}

    <div class='control-group'>
      {{input type='text' placeholder='Email Address' value=login}}
    </div>
    <div class='form-actions'>
      <button type='submit' class='app-btn' {{bind-attr disabled='isSendDisabled'}}>Send Password Reset Email</button>
    </div>
  </form>

{{/if}}

{{footer-bar}}
