<div class='home-content'>
  <h1 class='title'>
    Private Chat Rooms For Work &amp; Play
  </h1>

  <form class='room-key-form' {{action 'submitRoomKey' on='submit' target=view}}>
    <input type='text' class='room-key-input' placeholder='Room Key' autocomplete='off'>
    <div class='room-key-icon'></div>
    <div class='submit-room-key-button' {{action 'submitRoomKey' target=view}}>
      <span class='submit-room-key-icon'></span>
    </div>
    <div class='room-key-help'>
      Have a room key?
    </div>
  </form>

  <div class='page-overlay hidden home-signup-overlay'>
    <div {{bind-attr class=':modal :home-signup-modal room:with-room view.isShowingEmailForm:is-showing-email-form'}}>
      {{#if userMessage}}
        <div class='alert alert-error'>
          {{userMessage}}
        </div>
      {{/if}}

      {{#if isLoadingRoom}}
        <div class='loading'>Loading...</div>
      {{else}}
        <a href='#' class='close' {{action 'closeSignUp' target=view}} title='Close'>&times;</a>
        {{#if room}}
          <div class='room-title'>
            <div class='avatar'>
              <img {{bind-attr src='room.avatarUrl'}} class='medium-avatar-image'>
            </div>
            <div class='room-name-info-container'>
              <div class='room-name'>{{room.name}}</div>
              <div class='room-topic'>{{room.topic}}</div>
            </div>
            <div class='clearfix'></div>
          </div>
        {{/if}}

        <div class='dialog-content'>
          {{#if room}}
            <div class='subtitle'>Who's already here...</div>
            <div class='members-preview'>
              {{#each user in alphabeticRoomMembers}}
                <div class='member-preview'>
                  {{room-avatar room=user showStatus=false alwaysShowAvatar=true classNames='medium-avatar-image'}}
                  <div class='username'>{{user.name}}</div>
                </div>
              {{else}}
                <div class='no-one-here'>
                  (no one yet)
                </div>
              {{/each}}
              {{#if moreRoomMembers}}
                <div class='member-count-more'>
                  +{{moreRoomMembers}} more
                </div>
              {{/if}}
              <div class='clearfix'></div>
            </div>

            <div class='signup-auth-choice'>
              <button type='button' {{action 'signUpWithFacebook' target=view}} class='app-btn btn-block btn-flat btn-fb signup-with-facebook-button'>Sign Up with Facebook</button>
              <button type='button' {{action 'signUpWithEmail' target=view}} class='app-btn btn-block btn-flat btn-green signup-with-email-button'>Sign Up with Your Email</button>
              <div class='login-hint'>
                {{! TODO: Remember which room was entered. }}
                Already have an account?  {{link-to 'Log In' 'login'}}
              </div>
            </div>
          {{else}}
            {{! No room.  Regular signup. }}
            <div class='signup-auth-choice'>
              <button type='button' {{action 'signUpWithFacebook' target=view}} class='app-btn btn-block btn-flat btn-fb signup-with-facebook-button'>Sign Up with Facebook</button>
              <div class='or-divider'>OR</div>
              <button type='button' {{action 'signUpWithEmail' target=view}} class='app-btn btn-block btn-flat btn-green signup-with-email-button'>Sign Up with Your Email</button>
            </div>
          {{/if}}

          {{! Whether a room or not, always have the signup form. }}
          {{home-signup-form didSignUp='didSignUp' didLogIn='didLogIn' didGoBack='goBackToAuthChoices'}}
        </div>
      {{/if}}
    </div>
  </div>

  <img class='screenshot' alt='905x400' src='' style='width: 905px; height: 400px; background-color: #888'>

</div>

{{footer-bar showAppLinks=true}}
