{{#if isMobilePlatform}}

  {{mobile-install-dialog joinCode=joinCode}}

{{else}}

  <div class='home-content'>
    <img src='{{web-server-url 'imageLogoBig'}}' alt='{{unbound App.title}}' style='width: 99%; max-width: 300px; height: auto;' class='logo'>
  </div>

  {{footer-bar showAppLinks=true}}

{{/if}}
