{{#if hasReset}}

  <div class='empty-content-page'>
    <p>
      Your password has been changed.
    </p>
    <p>
      {{#link-to 'login'}}Log In{{/link-to}}
    </p>
  </div>

{{else}}

  <form class='form password-reset-form' {{action 'resetPassword' on='submit'}}>
    <div class='title'>Reset Password</div>

    {{#if errorMessage}}
      <div class='alert alert-error'>{{errorMessage}}</div>
    {{/if}}

    <div class='control-group'>
      {{input type='password' placeholder='New Password' value=newPassword}}
    </div>
    <div class='form-actions'>
      <button type='submit' class='app-btn' {{bind-attr disabled='isSendDisabled'}}>Change Password</button>
    </div>
  </form>

{{/if}}

{{footer-bar}}
