{{! Mention notification audio tag. }}
<audio preload='auto' class='mention-sound'>
  <source src='/audio/mention_sound.mp4'>
  <source src='/audio/mention_sound.wav'>
</audio>
{{! Received regular message audio tag. }}
<audio preload='auto' class='receive-message-sound'>
  <source src='/audio/receive.m4a'>
</audio>

<div class='rooms-sidebar'>
  <ul class='rooms-list'>
    <li class='room-list-item'>
      {{#link-to 'rooms.index'}}Lobby{{/link-to}}
    </li>
    {{#if roomsLoaded}}
      {{#each room in rooms}}
        <li {{bind-attr class=':room-list-item room.isUnread:unread:read'}} {{action 'requestNotificationPermission'}}>
          {{#link-to 'rooms.room' room}}
            {{room-icon room=room}}
            {{room.name}}
            <span {{action 'closeRoom' room}} class='close-room'>&times;</span>
          {{/link-to}}
        </li>
      {{/each}}
    {{else}}
      Loading...
    {{/if}}
  </ul>

  <div class='current-user-status-bar'>
    <div class='current-user-status' {{action 'toggleChooseStatusMenu' target='view' bubbles=false}}>
      <span {{bind-attr class=':status-dot currentUser.computedStatus'}}></span> {{humanize currentUser.status}}
      <span class='idle-time'>{{App.idleForSeconds}}s</span>
    </div>
  </div>
</div>

<ul class='menu choose-status-menu' role='menu'>
  {{#each status in App.User.statuses}}
    <li class='menu-item' {{action 'setStatus' status target='view'}}>
      <span {{bind-attr class=':status-dot status.name'}}></span> {{status.title}}
    </li>
  {{/each}}
  <li class='separator'></li>
  <li class='menu-item' {{action 'logOut' target='view'}}>Log Out</li>
</ul>

<div class='room-content'>
  {{outlet}}

  {{#rooms-container rooms=rooms activeRoom=activeRoom}}
    {{#with view as roomsContainer}}
      <div class='room-container'>
        {{#if activeRoom}}
          <div class='room-info'>
            <table class='room-info-table'>
              <tr>
                <td>
                  {{#link-to 'rooms.room' activeRoom classNames='room-permalink'}}{{activeRoom.name}}{{/link-to}}
                </td>
                <td class='invite-link'>
                  {{#if activeRoom.joinUrl}}
                    Invite Link: <a {{bind-attr href='activeRoom.joinUrl'}}>{{activeRoom.joinUrl}}</a>
                  {{/if}}
                </td>
              </tr>
              {{#if activeRoom.topic}}
                <tr>
                  <td colspan='2'>{{activeRoom.topic}}</td>
                </tr>
              {{/if}}
            </table>
          </div>
        {{/if}}

        {{#each rooms}}
          {{#if associationsLoaded}}
            {{#view App.RoomMessagesView roomBinding='this' roomsBinding='roomsContainer.rooms'}}
              {{#with view as messagesView}}
                <div {{bind-attr class=':messages messagesView.isCurrentlyViewingRoom:active:inactive messagesView.isRoomBeforeCursor:before-cursor:after-cursor'}}>
                  <div {{bind-attr class=':loading-more-messages isLoadingEarlierMessages::hidden'}}>
                    Loading...
                  </div>

                  {{#each message in messages}}
                    <div {{bind-attr class=':message message.isSentByCurrentUser:sent-by-you message.isSystemMessage:system-message'}} {{bind-attr data-message-id='message.id'}}>
                      <div class='message-table'>
                        <div class='sender-cell'>
                          <div class='sender'>{{message.user.name}}</div>
                        </div>
                        <div class='body-cell'>
                          <span class='status'>
                            {{#if message.isSaving}}Sending...{{/if}}
                            {{#if message.isError}}
                              <span class='error'>{{message.errorMessage}}</span>
                            {{/if}}
                            {{compact-timestamp-element message.createdAt classNames='timestamp'}}
                          </span>
                          {{#if message.imageUrl}}
                            <a {{bind-attr href='message.imageUrl'}} target='_blank'>
                              <img {{bind-attr src='message.imageThumbUrl'}} onload='{{unbound messagesView.messageImageOnLoad}}("{{unbound message.groupId}}", this, false);'>
                            </a>
                          {{/if}}

                          <div class='message-body'>{{message.body}}</div>
                        </div>
                      </div>
                    </div>
                  {{/each}}
                </div>
              {{/with}}
            {{/view}}
          {{/if}}
        {{/each}}

        <div class='connecting-status-bar'>
          Connecting...
        </div>

        <div class='send-message-area'>
          {{actionable-textarea enter-key-down='sendMessage' classNames='send-message-text'
            valueBinding='activeRoom.newMessageText' maxlength='1000' rows='2'
            disabledBinding='roomsContainer.isSendDisabled'
            target=roomsContainer}}
          {{#if doesBrowserSupportAjaxFileUpload}}
            <button type='button' class='send-message-file-button' {{action 'chooseFile' target=roomsContainer}}>
              {{#if activeRoom.newMessageFile}}
                Change
              {{else}}
                Attach
              {{/if}}
            </button>
            <input type='file' class='send-message-file'>
          {{/if}}
          <button type='button' {{action 'sendMessage' target=roomsContainer}}
            {{bind-attr class=':send-button activeRoom.isEncrypted:encrypted-send-button'}}
            {{bind-attr disabled='roomsContainer.isSendDisabled'}}
            >Send</button>
        </div>

        {{message-autocomplete viewName='autocompleteView'
          matchText=roomsContainer.suggestMatchText
          suggestions=roomsContainer.suggestions
          isShowing=roomsContainer.suggestionsShowing
          didSelectSuggestion='didSelectSuggestion'
          target=roomsContainer}}
      </div>
    {{/with}}
  {{/rooms-container}}
</div>
