{{! Single mention notification audio tag. }}
<audio preload='auto' class='mention-sound'>
  <source src='/audio/mention_sound.mp4'>
  <source src='/audio/mention_sound.wav'>
</audio>

<div class='rooms-sidebar'>
  {{#if roomsLoaded}}
    {{#if rooms}}
      <ul class='rooms-list'>
        {{#each room in rooms}}
          <li {{bind-attr class=':room-list-item room.isUnread:unread:read'}} {{action 'requestNotificationPermission'}}>
            {{#link-to 'rooms.room' room}}{{room.name}}{{/link-to}}
          </li>
        {{/each}}
      </ul>
    {{else}}
      <p>You currently don't have access to any rooms.</p>
    {{/if}}
  {{else}}
    Loading...
  {{/if}}

  <div class='current-user-status-bar'>
    <div class='current-user-status' {{action 'toggleChooseStatusMenu' target='view' bubbles=false}}>
      <span {{bind-attr class=':status-dot currentUser.computedStatus'}}></span> {{humanize currentUser.status}}
    </div>
  </div>
</div>

<ul class='choose-status-menu' role='menu'>
  {{#each status in App.User.statuses}}
    <li class='menu-item' {{action 'setStatus' status target='view'}}>
      <span {{bind-attr class=':status-dot status.name'}}></span> {{status.title}}
    </li>
  {{/each}}
  <li class='separator'></li>
  <li class='menu-item' {{action 'logOut' target='view'}}>Log Out</li>
</ul>

<div class='room-content'>
  {{outlet}}
</div>
