{{! Mention notification audio tag. }}
<audio preload='auto' class='mention-sound'>
  <source src='{{webServerUrl '/audio/mention_sound.mp4'}}'>
  <source src='{{webServerUrl '/audio/mention_sound.wav'}}'>
</audio>
{{! Received regular message audio tag. }}
<audio preload='auto' class='receive-message-sound'>
  <source src='{{webServerUrl '/audio/receive.m4a'}}'>
</audio>

{{app-install-banner}}

{{#if showRoomsPageOverlay}}
  <div class='page-overlay room-join-group-page-overlay'>
  </div>
{{/if}}

<div class='rooms-sidebar'>
  <div class='toggle-sidebar-tab'>
    <span class='toggle-sidebar-icon'></span>
  </div>

  <div class='logo'>
    {{#link-to 'index'}}
      <img src='{{webServerUrl 'imageLogo'}}' alt='{{unbound App.title}}' style='width: 49px; height: 32px;'>
    {{/link-to}}
  </div>
  {{#if isLoggedIn}}
    <div class='left-sidebar-tabs-container'>
      <div class='left-sidebar-tab-handles'>
        <div {{bind-attr class=':tab-handle :rooms-tab isRoomsTabActive:active'}} {{action 'showRoomsTab'}}>
          Rooms
        </div>
        <div {{bind-attr class=':tab-handle :contacts-tab isContactsTabActive:active'}} {{action 'showContactsTab'}}>
          Contacts
        </div>
      </div>
    </div>
    <div {{bind-attr class=':tab-content :rooms-tab-content isRoomsTabActive::hidden'}}>
      <div class='join-text-container'>
        <input type='text' class='join-text' placeholder='Enter Room (Room Key)' autocomplete='off'>
      </div>
      <ul class='rooms-list'>
        <li class='room-list-item'>
          <a href='#' {{action 'showCreateRoomDialog'}}>
            <span class='create-room-icon'></span>
            <div class='room-name create-room-name'>Create Room</div>
          </a>
        </li>
        {{#if roomsLoaded}}
          {{#each room in arrangedRooms}}
            <li {{bind-attr class=':room-list-item room.isUnread:unread:read view.showAvatars::avatars-off'}} {{action 'requestNotificationPermission'}}>
              {{#link-to 'rooms.room' room}}
                <div class='active-indicator'></div>
                {{room-avatar room=room showStatus=true}}
                <div class='room-name'>{{room.name}}</div>
                <span {{bind-attr class=':room-door-icon room.isRoom::hidden'}}></span>
                <div class='room-status'>{{room.statusText}}</div>
                <div class='clearfix'></div>
              {{/link-to}}
            </li>
          {{/each}}
        {{else}}
          Loading...
        {{/if}}
      </ul>
    </div>
    <div {{bind-attr class=':tab-content :contacts-tab-content isContactsTabActive::hidden'}}>
      {{!
      <div class='contacts-search-container'>
        <input type='text' class='contacts-search-text' placeholder='Search' autocomplete='off'>
      </div>
      }}
      <div class='contacts-list'>
        {{#if contactsLoaded}}
          <div class='contact-list-item add-contacts-list-item' {{action 'showAddContactsDialog'}}>
            <span class='add-contacts-icon'></span>
            <div class='username add-contacts-name'>Add Contacts</div>
            <div class='clearfix'></div>
          </div>
          {{#each user in arrangedContacts}}
            <div class='contact-list-item' {{bind-attr data-user-id=user.id}}>
              {{room-avatar room=user showStatus=true}}
              <div class='username'>{{user.name}}</div>
              <span class='contact-menu-arrow-icon'></span>
              <div class='clearfix'></div>
            </div>
          {{else}}
            <div class='none-found'>None Found</div>
          {{/each}}
        {{else}}
          <div class='loading'>Loading...</div>
        {{/if}}
      </div>
    </div>
  {{/if}}

  <div class='current-user-status-bar'>
    <div {{bind-attr class=':current-user-status-cell view.showAvatars::avatars-off'}} {{action 'toggleChooseStatusMenu' target='view' bubbles=false}}>
      <div class='current-user-status'>
        {{room-avatar room=currentUser showStatus=true}}
        <div class='username'>{{currentUser.name}}</div>
        <div class='status-text'>{{currentUser.statusText}}</div>
        <div class='clearfix'></div>
      </div>
    </div>
    <div class='settings-icon-cell' {{action 'showSettings'}}>
      <span class='settings-icon'></span>
    </div>
  </div>
</div>

<ul class='menu choose-status-menu' role='menu'>
  {{#each status in App.User.statuses}}
    <li class='menu-item' {{action 'setStatus' status target='view'}}>
      <span {{bind-attr class=':room-avatar :blank-avatar status.name'}}></span>
      {{status.title}}
    </li>
  {{/each}}
  <li class='separator'></li>
  <li class='menu-item' {{action 'changeStatusText' target='view' bubbles=false}}>
    Change Status Message...
  </li>
  <li class='separator'></li>
  <li class='menu-item' {{action 'logOut' target='view'}}>Log Out</li>
</ul>

<ul class='menu status-text-menu' role='menu'>
  <li class='menu-item'>
    <form {{action 'saveStatusText' target=view on='submit'}}>
      {{! Cancel bubbling so that clicking on the textbox doesn't close the menu. }}
      <input type='text' class='new-status-text' {{action 'ignore' bubbles=false}}
        maxlength='160' placeholder='Status Message'>
      <button type='submit' class='save-status-text-button'>Save</button>
      <div class='clearfix'></div>
    </form>
  </li>
</ul>

<ul class='menu contact-actions-menu' role='menu'>
  <li class='menu-item' {{action 'goToContactOneToOne' target=view}}>
    Go To 1-1 Conversation
  </li>
</ul>

<div {{bind-attr class=':room-content view.isRoomContentOutOfTheWay:out-of-the-way'}}>
  {{outlet}}

  {{rooms-container rooms=rooms activeRoom=activeRoom
    addUserContacts='addUserContacts'
    removeUserContacts='removeUserContacts'
    didGoToRoom='goToRoom'
    didCloseRoom='closeRoom'
    didFocusSendMessageText='didFocusSendMessageText'
    didToggleRoomsSidebar='toggleRoomsSidebar'
    willLeaveRoom='willLeaveRoom'}}
</div>
