{{! Mention notification audio tag. }}
<audio preload='auto' class='mention-sound'>
  <source src='/audio/mention_sound.mp4'>
  <source src='/audio/mention_sound.wav'>
</audio>
{{! Received regular message audio tag. }}
<audio preload='auto' class='receive-message-sound'>
  <source src='/audio/receive.m4a'>
</audio>

<div class='rooms-sidebar'>
  <ul class='rooms-list'>
    <li class='room-list-item'>
      {{#link-to 'rooms.index'}}Lobby{{/link-to}}
    </li>
    {{#if roomsLoaded}}
      {{#each room in rooms}}
        <li {{bind-attr class=':room-list-item room.isUnread:unread:read'}} {{action 'requestNotificationPermission'}}>
          {{#link-to 'rooms.room' room}}
            {{room-avatar room=room showStatus=true}}
            {{room.name}}
            <span {{action 'closeRoom' room}} class='close-room'>&times;</span>
          {{/link-to}}
        </li>
      {{/each}}
    {{else}}
      Loading...
    {{/if}}
  </ul>

  <div class='current-user-status-bar'>
    <div class='current-user-status' {{action 'toggleChooseStatusMenu' target='view' bubbles=false}}>
      {{room-avatar room=currentUser showStatus=true}}
      <span class='username'>{{currentUser.name}}</span>
    </div>
    <div class='settings-icon-cell' {{action 'showSettings'}}>
      <img class='settings-icon' src='/images/settings-icon.png'>
    </div>
  </div>
</div>

<ul class='menu choose-status-menu' role='menu'>
  {{#each status in App.User.statuses}}
    <li class='menu-item' {{action 'setStatus' status target='view'}}>
      <span {{bind-attr class=':room-avatar :blank-avatar status.name'}}></span>
      {{status.title}}
    </li>
  {{/each}}
  <li class='separator'></li>
  <li class='menu-item' {{action 'changeStatusText' target='view' bubbles=false}}>
    Change Status Message...
  </li>
  <li class='separator'></li>
  <li class='menu-item' {{action 'logOut' target='view'}}>Log Out</li>
</ul>

<ul class='menu status-text-menu' role='menu'>
  <li class='menu-item'>
    <form {{action 'saveStatusText' target=view on='submit'}}>
      {{! Cancel bubbling so that clicking on the textbox doesn't close the menu. }}
      <input type='text' class='new-status-text' {{action 'ignore' bubbles=false}}
        maxlength='160'>
      <button type='submit' class='save-status-text-button'>Save</button>
      <div class='clearfix'></div>
    </form>
  </li>
</ul>

<div class='room-content'>
  {{outlet}}

  {{rooms-container rooms=rooms activeRoom=activeRoom}}
</div>

<div class='room-members-sidebar'>
  {{! Always render the file input so that event listeners can bind to it. }}
  <input type='file' class='room-wallpaper-file' style='display: none;'>
  {{#if activeRoom}}
    <div class='title'>Admin</div>
    <div class='room-actions admin-room-actions' {{action 'toggleRoomMenu' target=view bubbles=false}}>
      <span class='room-settings-icon'></span>
      Room Settings
    </div>

    <div class='title'>Invite Link</div>
    <a class='room-actions invite-room-actions' {{bind-attr href='activeRoom.joinUrl'}}>
      <span class='join-icon'></span>
      <div class='join-code'>{{activeRoom.joinCode}}</div>
      <div class='join-url'>{{activeRoom.joinUrl}}</div>
      <div class='clearfix'></div>
    </a>
  {{/if}}

  <div class='title'>People</div>
  {{#if usersLoaded}}
    <ul class='room-members'>
      {{#each user in arrangedMembers}}
        <li class='room-member'>
          {{#link-to 'rooms.room' user}}
            <div>
              {{room-avatar room=user showStatus=true}}
              {{user.name}}
            </div>
            {{#if user.shouldDisplayIdleDuration}}
              <div class='idle-duration'>{{duration user.mostRecentIdleDuration}}</div>
            {{/if}}
            {{#if user.statusText}}
              <div class='status-text'>{{user.statusText}}</div>
            {{/if}}
          {{/link-to}}
        </li>
      {{/each}}
    </ul>
  {{else}}
    <div class='loading'>
      Loading...
    </div>
  {{/if}}
</div>

<ul class='menu room-menu' role='menu'>
  <li {{bind-attr class=':menu-item view.canUpdateRoomWallpaper::disabled'}}
    {{action 'chooseRoomWallpaper' target=view}}>Change Wallpaper...</li>
  {{#if view.hasRoomWallpaper}}
    <li {{bind-attr class=':menu-item view.canUpdateRoomWallpaper::disabled'}}
      {{action 'removeRoomWallpaper' target=view}}>Remove Wallpaper</li>
  {{/if}}
</ul>
