<div class='view-conversation centered-page-content'>
  {{#if userErrorMessage}}
    <div class='alert alert-error'>
      {{userErrorMessage}}
    </div>
  {{/if}}

  {{#if showMessages}}
    {{#if convo.associationsLoaded}}
      {{#if convo.messages}}
        {{! Show the last message. }}
        {{#with convo.messages.lastObject as message}}
          <div class='message'>
            <div class='sender-cell'>
              <span class='sender'>{{message.user.name}}</span>
            </div>
            <div class='body-cell'>
              <span class='status'>
                {{compact-timestamp-element message.createdAt classNames='timestamp'}}
              </span>
              {{message-attachment-display message autoplay=true}}
              <div class='message-body'>{{message.body}}</div>
            </div>
          </div>
        {{/with}}
        <p class='empty-content-page'>To see more messages, use the app.</p>
      {{else}}
        <p class='empty-content-page'>You don't have any messages.</p>
      {{/if}}
    {{else}}
      <p class='empty-content-page'>Loading...</p>
    {{/if}}
  {{else}}
    {{#if hasPlatformAppInstall}}
      {{! When not showing messages, we redirect to the app store. }}
      <p class='empty-content-page'>Redirecting...</p>
    {{else}}
      <p class='empty-content-page'>To view your message, install the app.</p>
    {{/if}}
  {{/if}}
</div>

{{footer-bar showAppLinks=true}}
